<div class="link_box">
    <div nz-row class="info_item mb-sm">
        <div nz-col nzSpan="8" class="text-666 text-lg">账号名称<i class="text-danger">*</i></div>
        <div nz-col nzSpan="16" class="text-grey text-lg">{{ settingService.user.name }}</div>
    </div>
    <div nz-row class="info_item mb-sm">
        <div nz-col nzSpan="8" class="text-666 text-lg">账号密码<i class="text-danger">*</i></div>
        <div nz-col nzSpan="16" class="text-grey text-lg">************</div>
    </div>
    <div nz-row class="oper_box mb-sm mt-lg">
        <button nz-button nzType="primary" nzSize="large" (click)="edit(tplTitle, tplContent)">修改信息</button>
    </div>
</div>


<ng-template #tplTitle>
    <span>修改密码</span>
</ng-template>
<ng-template #tplContent let-params let-ref="modalRef">
    <form class="form-item" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label class="text-left" nzSpan="6" nzFor="old_password" nzRequired>原密码</nz-form-label>
            <nz-form-control nzSpan="18" nzErrorTip="请输入原密码">
                <input nz-input type="password" id="old_password" formControlName="old_password" nzSize="large"
                    placeholder="请输入原密码" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" nzSpan="6" nzFor="new_password" nzRequired>新密码</nz-form-label>
            <nz-form-control nzSpan="18" nzErrorTip="请输入新的密码，由8~12位字符构成，含数字和字母">
                <input nz-input type="password" id="new_password" formControlName="new_password"
                    (ngModelChange)="updateConfirmValidator()" nzSize="large" placeholder="密码由8~12位字符构成，含数字和字母" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" nzSpan="6" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
            <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                <input nz-input type="password" formControlName="checkPassword" id="checkPassword" nzSize="large"
                    placeholder="请再次输入密码" />
                <ng-template #errorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        请再次输入密码
                    </ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">
                        输入的重复密码和新密码不相同
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="24">
                <div class="d-flex justify-content-around mt-lg">
                    <button (click)="cancel($event)" nz-button nzType="default" class="login-form-button"
                        nzSize="large">取消</button>
                    <button nz-button [nzLoading]="submitLoading" nzType="primary" class="login-form-button" nzSize="large">确认</button>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
<!-- <ng-template #tplFooter>
    <button nz-button nzType="primary" (click)="destroyTplModal()">
        Close after submit
    </button>
</ng-template> -->