<div class="resume-show_sub_content_box" *ngIf="resumeInfo">
    <div class="resume-show-sub-title-box">
        <app-sub-title-show [title]="'个人信息'"></app-sub-title-show>
        <div class="edit-box">
            <nz-divider [nzText]="rightTextTpl" nzOrientation="right" nzDashed></nz-divider>
            <ng-template #rightTextTpl>
                <div class="text-sm edit_icon_box d-flex align-items-center text-primary point" (click)="editInfo()">
                    <!-- <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i> -->
                    <span class="resume_info_edit_icon mr-sm"></span>
                    编辑
                </div>
            </ng-template>
        </div>
    </div>

    <div class="resume-show_content_body my-sm py-sm px-md">
        <div class="d-flex align-items-center">
            <div class="user-logo">
                <div class="logo_img_box bg-grey border-radius-half text-white d-flex justify-content-center align-items-center">
                    <ng-container *ngIf="resumeInfo.avatar;else notPhoto">
                        <img [src]="environment.SERVER_URL + '/' + resumeInfo.avatar" alt="">
                    </ng-container>
                    <ng-template #notPhoto>
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                    </ng-template>
                </div>
            </div>
            <div class="user-info">
                <div class="user-info_wrapper text-grey d-flex justify-content-around flex-column">
                    <h3 class="text-666 text-lg">{{ resumeInfo.name }} <span
                        class="text-xs text-grey-dark ml-md">更新时间：{{ resumeInfo.updated_at | date: 'yyyy/MM/dd HH:mm:ss' }}</span></h3>
                    <div class="text-sm">
                        <span>{{ resumeInfo.sex === 1 ? '男' : '女' }}</span>
                        <nz-divider nzType="vertical"></nz-divider>
                        <span>{{ workExpYears }}</span>
                        <nz-divider nzType="vertical"></nz-divider>
                        <span>{{ resumeInfo.birthday | date: 'yyyy年MM月' }}</span>
                        <nz-divider nzType="vertical"></nz-divider>
                        <span>{{ resumeInfo.marriage.value }}</span>
                        <nz-divider nzType="vertical"></nz-divider>
                        <span>现居住于
                            <ng-container *ngIf="resumeInfo.work_province.name !== resumeInfo.work_city.name">
                                {{ resumeInfo.work_province.name + resumeInfo.work_city.name }}
                            </ng-container>
                            <ng-container *ngIf="resumeInfo.work_province.name === resumeInfo.work_city.name">
                                {{ resumeInfo.work_province.name }}
                            </ng-container>
                        </span>
                        <nz-divider nzType="vertical"></nz-divider>
                        <span *ngIf="resumeInfo.education.data.length !== 0">
                            <span>
                                {{ resumeInfo.education.data[0].education.value }}
                            </span>
                            <nz-divider nzType="vertical"></nz-divider>
                        </span>
                        <span>
                            <ng-container *ngIf="resumeInfo.registered_province.name !== resumeInfo.registered_city.name">
                                {{ resumeInfo.registered_province.name + resumeInfo.registered_city.name }}
                            </ng-container>
                            <ng-container *ngIf="resumeInfo.registered_province.name === resumeInfo.registered_city.name">
                                {{ resumeInfo.registered_province.name }}
                            </ng-container>
                            户口
                        </span>
                    </div>
                    <div>
                        <i class="text-md" nz-icon nzType="phone" nzTheme="outline"></i>
                        <span class="ml-sm text-sm">{{ resumeInfo.phone }}</span>
                    </div>
                    <div>
                        <i class="text-md" nz-icon nzType="mail" nzTheme="outline"></i>
                        <span class="ml-sm text-sm">{{ resumeInfo.email }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>