<form nz-form [formGroup]="validateForm" class="mt-lg">
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="work_address" nzRequired>工作地区</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择期望的工作地区，最多可以选择三个选项">
            <app-multiple-cascader-selected ngDefaultcontrol formControlName="work_address" [layer]="'second'" [type]="'city'" [size]="'large'"
                [placeholder]="'请点击选择期望的工作地区'"></app-multiple-cascader-selected>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="industry" nzRequired>期望行业</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择期望的行业">
            <nz-select id="industry" formControlName="industry" nzSize="large" nzMode="multiple" nzPlaceHolder="请点击选择期望的行业">
                <ng-container *ngFor="let item of globalService.globalConfigOptions.industry">
                    <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                </ng-container>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="job_position" nzRequired>期望职位</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择期望的职位">
            <app-multiple-cascader-selected ngDefaultcontrol formControlName="job_position" [layer]="'three'" [type]="'position_type'" [size]="'large'"
                [placeholder]="'请点击选择期望的职位'"></app-multiple-cascader-selected>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="job_salary" nzRequired>期望月薪</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择期望的月薪区间">
            <nz-select id="job_salary" formControlName="job_salary" nzSize="large" nzPlaceHolder="请点击选择期望的月薪区间">
                <ng-container *ngFor="let item of globalService.resumeConfigOptions.salary">
                    <nz-option [nzValue]="item.id" [nzLabel]="item.value"></nz-option>
                </ng-container>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="job_status" nzRequired>求职状态</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择求职状态">
            <nz-select id="job_status" formControlName="job_status" nzSize="large" nzPlaceHolder="请点击选择求职状态">
                <ng-container *ngFor="let item of globalService.resumeConfigOptions.status">
                    <nz-option [nzValue]="item.id" [nzLabel]="item.value"></nz-option>
                </ng-container>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="job_nature" nzRequired>工作性质</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择工作性质">
            <nz-checkbox-wrapper id="job_nature" style="width: 100%; line-height: 40px;" (nzOnChange)="log($event)">
                <div nz-row>
                    <div nz-col nzSpan="8" *ngFor="let item of globalService.resumeConfigOptions.target_type">
                        <label nz-checkbox [nzValue]="item.id">{{ item.value }}</label>
                    </div>
                </div>
            </nz-checkbox-wrapper>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <div style="width: 100%;">
            <div class="steps_control_btn d-flex justify-content-around align-items-center my-lg">
                <button class="next_btn" (click)="submitForm()" [nzLoading]="submitLoading" nz-button nzType="primary" nzSize="large">下一步</button>
                <!-- <button class="prev_btn" (click)="steps('prev')" nz-button nzType="default"
                    nzSize="large">返回上一步</button> -->
            </div>
        </div>
    </nz-form-item>
</form>