<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="name" nzRequired>姓名</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请填写您的真实姓名">
            <input nz-input id="name" formControlName="name" nzSize="large" placeholder="请填写您的真实姓名" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="sex" nzRequired>性别</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请选择您的性别">
            <nz-radio-group class="radio-group_content" id="sex" formControlName="sex" [nzSize]="'large'">
                <label nz-radio [nzValue]="1">男</label>
                <label nz-radio [nzValue]="2">女</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired nzFor="birthday">出生日期</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择您的出生日期，年龄必须在16岁以上">
            <app-date-picker-month-birthdy formControlName="birthday" [placeholder]="'请点击选择您的出生日期'" [size]="'large'"></app-date-picker-month-birthdy>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="marriage_id" nzRequired>婚姻状况</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请选择您的婚姻状况">
            <nz-radio-group class="radio-group_content" id="marriage_id" formControlName="marriage_id" [nzSize]="'large'">
                <ng-container *ngFor="let item of settingService.resumeConfigOptions.marriage">
                    <label nz-radio [nzValue]="item.id">{{ item.value }}</label>
                </ng-container>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="registered_residence" nzRequired>户口所在地</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请选择户口所在地">
            <app-three-stage-cascader formControlName="registered_residence" [layer]="'second'" [Size]="'large'" placeholder="请点击选择对应城市"></app-three-stage-cascader>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="work_date" [nzRequired]="!validateForm.get('is_not_work')?.value">参加工作时间</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择您参加工作的时间">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="16">
                    <app-date-picker-month formControlName="work_date" [placeholder]="'请点击选择您参加工作的时间'" [size]="'large'"></app-date-picker-month>
                </div>
                <div nz-col [nzSpan]="8" class="text-right agree_box">
                    <label nz-checkbox formControlName="is_not_work" nzSize="large" (ngModelChange)="isNotWorkChange($event)">暂无工作经验</label>
                </div>
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="address_city" nzRequired>现居住地</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请填写您的现居住地">
            <app-three-stage-cascader formControlName="address_city" [Size]="'large'" placeholder="请点击选择对应地区"></app-three-stage-cascader>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired nzFor="email">电子邮箱</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请输入联系您的电子邮箱">
            <input nz-input formControlName="email" id="email" placeholder="请输入联系您的电子邮箱" nzSize="large" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="avatar">头像上传</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请上传您的头像">
            <!-- <app-upload-logo ngDefaultControl formControlName="avatar" [placeHolder]="'请上传您的头像'" [Size]="'large'"></app-upload-logo> -->
            <app-upload-photo-file-tpl ngDefaultControl formControlName="avatar" [placeHolder]="'图片大小2M以内，支持jpg，png，gif等格式'" [Size]="'large'"></app-upload-photo-file-tpl>
        </nz-form-control>
    </nz-form-item>
    
    <div class="modal-oper_btn_box d-flex justify-content-around align-items-center">
        <button nz-button nzSize="large" nzType="default" (click)="cancel($event)">取 消</button>
        <button nz-button nzSize="large" [nzLoading]="loading" nzType="primary">保 存</button>
    </div>

</form>