<div class="search_list__result_body">
    <!-- <ng-container *ngIf="!loadingData && list.length !== 0">
            <div nz-row class="result_list_title text-grey text-sm" [nzGutter]="12">
                <div nz-col nzSpan="8" class="text-center">职位名</div>
                <div nz-col nzSpan="6" class="text-center">职位要求</div>
                <div nz-col nzSpan="4" class="text-center">工作地点</div>
                <div nz-col nzSpan="3" class="text-center">薪资</div>
                <div nz-col nzSpan="3" class="text-center">发布时间</div>
            </div>
            
            <div nz-row class="text-sm result_list__row card__hover text-666 border-top"
                *ngFor="let item of list"
                [nzGutter]="12">
                <div nz-col nzSpan="8">
                    <a [routerLink]="['/recruit/details', 1]" target="_blank" class="pl-sm text-666">电商淘宝培训运营讲师</a>
                </div>
                <div nz-col nzSpan="6" class="text-center">
                    经验1-3年
                    <nz-divider nzType="vertical"></nz-divider>
                    本科
                    <nz-divider nzType="vertical"></nz-divider>
                    全职
                </div>
                <div nz-col nzSpan="4" class="text-center">成都-武侯区</div>
                <div nz-col nzSpan="3" class="text-danger">2K-4K/月</div>
                <div nz-col nzSpan="3" class="text-center">2020/06/18</div>
            </div>

            <div class="pagination_wrapper">
                <app-pagination-item [total]="500"></app-pagination-item>
            </div>
        </ng-container>
        <ng-container *ngIf="loadingData">
            <div class="loading_data_spin">
                <nz-spin nzSimple></nz-spin>
            </div>
        </ng-container> -->

    <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger nzShowQuickJumper [nzData]="list" [nzFrontPagination]="false"
        [nzLoading]="loadingData" [nzTotal]="pageConfig.total" [nzPageSize]="pageConfig.page_size"
        [nzPageIndex]="pageConfig.page" (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th class="text-center">职位名</th>
                <th class="text-center">职位要求</th>
                <th class="text-center">工作地点</th>
                <th class="text-center">薪资</th>
                <th class="text-center">发布时间</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of rowSelectionTable.data">
                <td>
                    <a [routerLink]="['/recruit/details', item.id]" target="_blank"
                        class="pl-sm text-666">{{ item.name }}</a>
                </td>
                <td class="text-center">
                    {{ item.work_experience.value }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ item.education.value }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ item.type.value }}
                </td>
                <td class="text-center">{{ item.city.name }}-{{ item.area.name }}</td>
                <td class="text-center text-danger">{{ item.salary.value }}/月</td>
                <td class="text-center">{{ item.updated_at }}</td>
            </tr>
        </tbody>
    </nz-table>

</div>