<div class="resume-show_sub_content_box">
    <div class="resume-show-sub-title-box">
        <app-sub-title-show [title]="'教育经历'"></app-sub-title-show>
        <!-- <div class="edit-box">
            <nz-divider [nzText]="rightTextTpl" nzOrientation="right" nzDashed></nz-divider>
            <ng-template #rightTextTpl>
                <div class="text-sm text-primary point" (click)="add()">
                    <i class="text-md" nz-icon nzType="plus" nzTheme="outline"></i>
                    新增
                </div>
            </ng-template>
        </div> -->
    </div>

    <div class="resume-show_content_body my-sm py-sm px-md">
        <div *ngIf="list.length !== 0; else notExpTpl">
            <ng-container *ngFor="let education of list; let i = index">
                <div class="item_card_box mb-md" [class.item_cart_last_box]="i !== list.length - 1">
                    <div class="item_card_title_box">
                        <h4 class="item_title_name bg-white text-666 font-weight-bold text-md">{{ education.name }}</h4>
                        <nz-divider class="item_title_divider" nzDashed></nz-divider>
                        <div class="item_oper_box bg-white">
                            <!-- <span class="text-sm text-primary point" (click)="edit(education)">
                                <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i>
                                编辑
                            </span>
                            <a nz-popconfirm nzPopconfirmTitle="您是否确认删除当前教育经历" (nzOnConfirm)="deleted(education)" (nzOnCancel)="cancel()" class="ml-md text-sm text-danger" nzPopconfirmPlacement="topRight">
                                <i class="text-md" nz-icon nzType="delete" nzTheme="outline"></i>
                                删除
                            </a> -->
                            <span class="text-sm edit_icon_box d-flex align-items-center text-primary point" (click)="edit(education)">
                                <!-- <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i> -->
                                <span class="resume_info_edit_icon edit_icon mr-sm"></span>
                                编辑
                            </span>
                            <span class="text-sm edit_icon_box d-flex align-items-center text-danger point mt-md" (click)="deletedModal(education)">
                                <!-- <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i> -->
                                <span class="resume_info_edit_icon del_icon mr-sm"></span>
                                删除
                            </span>
                            <span *ngIf="i === list.length - 1" class="text-sm edit_icon_box d-flex align-items-center text-green point mt-md" (click)="add()">
                                <!-- <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i> -->
                                <span class="resume_info_edit_icon add_icon mr-sm"></span>
                                新增一段
                            </span>
                        </div>
                    </div>
                    <div class="item_card_body text-grey">
                        <div class="text-sm">
                            <p>
                                {{ education.start_time | date: 'yyyy.MM' }} - 
                                <ng-container *ngIf="education.end_time">{{ education.end_time | date: 'yyyy.MM' }}</ng-container>
                                <ng-container *ngIf="!education.end_time">至今</ng-container>
                                <nz-divider nzType="vertical"></nz-divider>
                                {{ education.major }}
                                <nz-divider nzType="vertical"></nz-divider>
                                {{ education.education.value }}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <ng-template #notExpTpl>
            <div class="text-grey text-md is_not_data_box">
                <span>暂无教育经历</span>
                <span class="text-sm edit_icon_box d-flex align-items-center text-green point float-right" (click)="add()">
                    <!-- <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i> -->
                    <span class="resume_info_edit_icon add_icon mr-sm"></span>
                    新增一段
                </span>
            </div>
        </ng-template>
        
    </div>
</div>