.passport-header {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    overflow: hidden;
    .body__content_box {
        overflow: hidden;
    }

    .passport_header_logo {
        width: 148px;
        height: 64px;
        overflow: hidden;
        margin-top: 36px;
    }
}