<nz-card>
    <div class="search_box_input">

        <div class="d-flex align-items-center">
          <div class="search_title text-center bg-white text-primary">结果中搜索</div>
          <nz-input-group class="flex-1" [nzSuffix]="suffixIconSearch" nzSize="large">
            <input type="text" [(ngModel)]="search_text" nz-input placeholder="请输入关键字" (keypress)="($event.which === 13)?search():0" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i *ngIf="!searchLoading" class="text-primary text-lg font-weight-bold" nz-icon nzType="search" (click)="search()"></i>
            <i *ngIf="searchLoading" class="text-primary text-lg font-weight-bold" nz-icon nzType="sync" [nzSpin]="searchLoading"></i>
          </ng-template>
        </div>
      </div>
</nz-card>

<p>resumes-handle works!</p>
