<nz-card>
    <div class="search_box_input">

        <div class="d-flex align-items-center">
          <!-- <div class="search_title text-center bg-white text-primary">结果中搜索</div> -->
          <nz-input-group class="flex-1" [nzSuffix]="suffixIconSearch" nzSize="large">
            <input type="text" [(ngModel)]="search_text" nz-input placeholder="请输入关键字" (keypress)="($event.which === 13)?search():0" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i *ngIf="!loadingData" class="text-primary text-lg font-weight-bold" nz-icon nzType="search" (click)="search()"></i>
            <i *ngIf="loadingData" class="text-primary text-lg font-weight-bold" nz-icon nzType="sync" [nzSpin]="loadingData"></i>
          </ng-template>
        </div>
      </div>
</nz-card>

<nz-card class="content_wrapper mt-md mb-lg">
  <nz-tabset>
    <nz-tab nzTitle="招聘中" (nzSelect)="selectChange('ing')">
      <ng-template nz-tab>
        <nz-table
          nzShowSizeChanger
          nzShowQuickJumper
          [nzData]="listOfData"
          [nzFrontPagination]="false"
          [nzLoading]="loadingData"
          [nzTotal]="pageOptionIng.total"
          [nzPageSize]="pageOptionIng.pageSize"
          [nzPageIndex]="pageOptionIng.pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)"
          [nzFooter]="footerTpl"
        >
          <thead>
            <tr>
              <th nzWidth="600px" class="text-center">职位名</th>
              <th>新收到简历</th>
              <th>简历总数</th>
              <th class="text-center">开始时间</th>
              <th class="text-center">结束时间</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listOfData">
              <td>
                <a [routerLink]="['/recruit/details', item.id]"
                    target="_blank"
                    class="text-666 pl-sm">{{ item.name }}</a>
              </td>
              <td class="text-center text-md">
                <a [routerLink]="['/admin/company/resumes/handle', item.id]" target="_blank">{{ item.new_resume_sum }}</a>
              </td>
              <td class="text-center text-md"><a [routerLink]="['/admin/company/resumes/handle', item.id]" target="_blank">{{ item.resume_sum }}</a></td>
              <td>{{ item.start_at }}</td>
              <td>{{ item.expires_at }}</td>
            </tr>
          </tbody>
        </nz-table>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="已下线" (nzSelect)="selectChange('underline')">
      <ng-template nz-tab>
        <nz-table
          nzShowSizeChanger
          nzShowQuickJumper
          [nzData]="underlineData"
          [nzFrontPagination]="false"
          [nzLoading]="loadingData"
          [nzTotal]="pageOptionUnderline.total"
          [nzPageSize]="pageOptionUnderline.pageSize"
          [nzPageIndex]="pageOptionUnderline.pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)"
          [nzFooter]="footerTpl"
        >
          <thead>
            <tr>
              <th nzWidth="600px" class="text-center">职位名</th>
              <th>新收到简历</th>
              <th>简历总数</th>
              <th class="text-center">开始时间</th>
              <th class="text-center">结束时间</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of underlineData">
              <td>
                <a [routerLink]="['/recruit/details', item.id]"
                    target="_blank"
                    class="text-666 pl-sm">{{ item.name }}</a>
              </td>
              <td class="text-center text-md">
                <a [routerLink]="['/admin/company/resumes/handle', item.id]" target="_blank">{{ item.new_resume_sum }}</a>
              </td>
              <td class="text-center text-md"><a [routerLink]="['/admin/company/resumes/handle', item.id]" target="_blank">{{ item.resume_sum }}</a></td>
              <td>{{ item.start_at }}</td>
              <td>{{ item.expires_at }}</td>
            </tr>
          </tbody>
        </nz-table>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  
</nz-card>

<ng-template #footerTpl>
  <div class="text-666 text-md" *ngIf="companyDataService.positionConfig">
    正在招聘 <span class="text-primary">{{ companyDataService.positionConfig.on }}</span> 个职位，
    已下线 <span class="text-primary">{{ companyDataService.positionConfig.off }}</span> 个职位
  </div>
</ng-template>
