<div class="search__wrapper">
    <div class="body__content_box">
        <div class="search-content_wraper d-flex align-items-center">
            <app-layout-full-search [Option]="paramsOption" (searchOptionChange)="searchOptionChange($event)"></app-layout-full-search>
        </div>
    </div>
</div>

<div class="search_list_box">
    <div class="body__content_box">
        <div class="search_list__content d-flex align-items-center">
            <div class="search_list__content_body clearfix">
                <div class="float-left search_sort">
                    <span class="search_title_name text-666 text-md mr-sm">排序方式</span>
                    <nz-radio-group [(ngModel)]="searchOption.sort" (ngModelChange)="sortValueChange()">
                        <label nz-radio-button nzValue="default">默认</label>
                        <label nz-radio-button nzValue="newest">最新</label>
                    </nz-radio-group>
                </div>
                <div class="float-right search_select">
                    <span class="mr-sm">月薪</span>
                    <nz-select style="min-width: 120px;" nzAllowClear nzPlaceHolder="不限"
                        [(ngModel)]="searchOption.salary_id" (ngModelChange)="sortValueChange()">
                        <ng-container *ngFor="let item of settingService.resumeConfigOptions.salary">
                            <nz-option [nzValue]="item.id" [nzLabel]="item.value"></nz-option>
                        </ng-container>
                    </nz-select>
                    <span class="mr-sm ml-lg">工作性质</span>
                    <nz-select style="min-width: 120px;" nzAllowClear nzPlaceHolder="不限"
                        [(ngModel)]="searchOption.type_id" (ngModelChange)="sortValueChange()">
                        <ng-container *ngFor="let item of settingService.resumeConfigOptions.target_type">
                            <nz-option [nzValue]="item.id" [nzLabel]="item.value"></nz-option>
                        </ng-container>
                    </nz-select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search_result_list__wrapper pt-sm">
    <div class="body__content_box">
        <div class="search_list__content clearfix">
            <div class="search_list__result_body bg-white float-left border-radius-sm">
                <div nz-row class="result_list_title text-grey text-sm" [nzGutter]="12">
                    <div nz-col nzSpan="6" class="text-center">职位名</div>
                    <div nz-col nzSpan="8" class="text-center">公司名</div>
                    <div nz-col nzSpan="4" class="text-center">工作地点</div>
                    <div nz-col nzSpan="3" class="text-center">薪资</div>
                    <div nz-col nzSpan="3" class="text-center">发布时间</div>
                </div>
                <ng-container *ngIf="!loadingData; else loadingTpl">
                    <div class="list_of_data_box" *ngIf="list.length !== 0; else notAnyDataTpl">
                        <div nz-row class="text-sm result_list__row card__hover text-666 border-top py-sm"
                            *ngFor="let item of list" [nzGutter]="12">
                            <div nz-col nzSpan="6" class="d-flex align-items-center">
                                <a [routerLink]="['/recruit/details', item.id]" target="_blank" class="pl-md text-666">{{ item.name }}</a>
                                <ng-container *ngIf="item.is_delivery">
                                    <nz-tag nzColor="default" class="ml-sm">已投递</nz-tag>
                                </ng-container>
                            </div>
                            <div nz-col nzSpan="8" class="d-flex align-items-center">
                                <a [routerLink]="['/company']" [queryParams]="{cid: item.company.id }" target="_blank"
                                    class="text-666">{{ item.company.name }}</a>
                            </div>
                            <div nz-col nzSpan="4" class="d-flex align-items-center">{{ item.city }}-{{ item.area }}</div>
                            <div nz-col nzSpan="3" class="text-danger d-flex align-items-center">{{ item.salary }}/月</div>
                            <div nz-col nzSpan="3" class="d-flex align-items-center">{{ item.created_at }}</div>
                        </div>
                    </div>
                    <div class="pagination_wrapper" *ngIf="total">
                        <app-pagination-item [total]="total" [limit]="limit" [currentPage]="pageIndex"
                            (pageIndexEmit)="pageIndexChange($event)"></app-pagination-item>
                    </div>
                    <ng-template #notAnyDataTpl>
                        <div class="not_any_data_wrapper d-flex justify-content-center align-items-center flex-column">
                            <div class="_img_box">
                                <img src="/assets/imgs/icon/img_nullnote.png" alt="无数据资源">
                            </div>
                            <p class="text-center text-grey py-sm">无数据</p>

                        </div>
                    </ng-template>
                </ng-container>
                <ng-template #loadingTpl>
                    <div class="loading_data_spin bg-white">
                        <nz-spin nzSimple></nz-spin>
                    </div>
                </ng-template>
            </div>
            <div class="search_list__result_right-box float-right">
                <!-- 右侧广告 -->
                <app-right-sidebar-advert></app-right-sidebar-advert>

                <!-- 查看历史记录 -->
                <app-right-sidebar-job-history></app-right-sidebar-job-history>
            </div>
        </div>
    </div>
</div>