<div class="body__content_box py-lg">
    <div class="content_body">

        <div nz-row nzGutter="16">
            <div nz-col nzSpan="6" class="anchor_body">
                <nz-anchor [nzOffsetTop]="100">
                    <nz-link nzHref="#oneParagraph" nzTitle="用户协议的主体和范围"></nz-link>
                    <nz-link nzHref="#twoParagraph" nzTitle="企业账号注册与使用"></nz-link>
                    <nz-link nzHref="#threeParagraph" nzTitle="天府菁英网服务及规范"></nz-link>
                    <nz-link nzHref="#fourParagraph" nzTitle="责任承担"></nz-link>
                    <nz-link nzHref="#fiveParagraph" nzTitle="知识产权保护"></nz-link>
                    <nz-link nzHref="#sixParagraph" nzTitle="不可抗力及其他免责事由"></nz-link>
                    <nz-link nzHref="#sevenParagraph" nzTitle="协议的修改与终止"></nz-link>
                    <nz-link nzHref="#eightParagraph" nzTitle="通知"></nz-link>
                    <nz-link nzHref="#nineParagraph" nzTitle="法律管辖适用及其他"></nz-link>
                </nz-anchor>
            </div>
            <div nz-col nzSpan="18">

                <h2 class="text-xl text-center mt-lg">天府菁英网用户服务协议（企业端）</h2>

                <div class="content_description_box mt-lg pt-md">

                    <p class="des_par">发布日期：2020年11月28日，生效日期：2020年12月01日</p>
                    <p class="des_par mt-lg">欢迎您注册天府菁英网企业账号并使用天府菁英网的服务。</p>
                    <p class="des_par text-indent">
                        本《天府菁英网用户服务协议》（“<span
                            class="font-weight-bold">本用户协议</span>”）是您与天府菁英网之间就注册天府菁英网企业账号及使用天府菁英网各项服务等相关事宜订立的协议。<span
                            class="font-weight-bold text-underline">您应当仔细阅读并遵守本用户协议下的全部内容，特别是涉及免除或者限制我们的责任的条款，此类条款可能以黑体加粗和加下划线的形式提示您注意</span>。
                    </p>
                    <p class="des_par text-indent font-weight-bold text-underline">
                        当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与天府菁英网达成一致，成为天府菁英网的用户。</p>
                    <p class="des_par text-indent">
                        如您不同意本用户协议，请不要点击“我同意”、“注册”或类似内容，请勿注册或使用天府菁英网的服务，并应立即停止注册程序。如您对本用户协议的内容（特别是涉及免除或者责任限制的条款）有任何疑惑或不满意，可随时按照本用户协议中列明的联系方式与我们联系，我们将及时处理您的请求或投诉，并针对您的需求进行解释。
                    </p>

                    <h3 class="des_title mt-lg text-md font-weight-bold" id="oneParagraph">一、用户协议的主体和范围</h3>
                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">1. 协议主体</h4>
                    <p class="des_par text-indent">
                        天府菁英网”是成都天府新区人力资源开发服务有限公司旗下运营或向您提供具体服务的相关主体的统称，与您签订本用户协议的主体视您所使用的具体服务而定。“用户”是指使用天府菁英网服务进行招聘的企业及其负责人，在本用户协议中也称呼为“您”。请注意，如您选择不注册天府菁英网企业账号，您可作为“访客”使用天府菁英网服务的部分功能，同时必须遵守本服务协议。
                    </p>
                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">2. 服务</h4>
                    <p class="des_par text-indent">本用户协议适用于本协议项下提供的天府菁英网网页（http://www.cdtfhr.com/）的服务。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">3. 协议内容</h4>
                    <p class="des_par text-indent font-weight-bold">
                        <span
                            class=" text-underline">本用户协议正文为天府菁英网与您之间的主服务协议，由于天府菁英网向您提供多种服务，如您选择使用相关服务，以下协议构成您与天府菁英网之间的补充协议，且该等补充协议与本用户协议不可分割且具有同等法律效力，您应当遵守相关补充协议内容及其中援引的文档</span>：
                    </p>
                    <p class="des_par text-indent">
                        1）《天府菁英网隐私政策》（链接地址：http://www.cdtfhr.com/about/privacy）：天府菁英网视用户信息安全与隐私保护为自己的生命线，对您个人信息的收集、使用和共享将遵守《天府菁英网隐私政策》；
                    </p>
                    <p class="des_par text-indent">
                        2）具体产品和服务的服务条款：您在注册天府菁英网企业账号并完成单位认证后，即可使用丰富的天府菁英网服务。为了更好地向您说明各项服务的功能，我们针对具体的服务制定了专门的服务条款，若您希望使用此等产品或服务，您可在相关产品或服务的页面查阅并选择接受此类服务条款。
                    </p>
                    <p class="des_par text-indent font-weight-bold">
                        <span
                            class=" text-underline">您理解并同意，我们可能会不时修改上述各项协议/规则/政策。若有重大变更，我们将通过网页或推送通知等有效方式发布或发送关于条款更改的公告，使您有机会在更改生效之前查看更改。如您不同意任何更改的内容，可停止更改内容所涉及的服务或通过联系客服以注销账号。如您在上述更改内容实施后继续使用所涉及的服务，则视为您已同意各项更新修改内容</span>。
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="twoParagraph">二、企业账号注册与使用</h3>
                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">1. 注册资料</h4>
                    <p class="des_par text-indent">
                        为了证明企业用户主体资格的真实性，您应当向我们提供相关证明材料（包括但不限于加盖公章的营业执照副本等），您同意向我们不可撤销地承诺您所属的企业系依法成立的法人、团体或其他法律认可的组织。您应当秉持诚实信用、合法善意的原则，向天府菁英网提供合法、真实和准确的注册资料，不应提交任何违法或不良信息，相关资料如有变动，您应在变动之日起【5】个工作日内及时更新。<span
                            class="text-underline font-weight-bold">您了解并同意，您有义务保持您提供信息的真实性及有效性，以便我们或其他用户与您联系</span>。
                    </p>
                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">2. 服务资格</h4>
                    <p class="des_par text-indent font-weight-bold text-underline">
                        您应当承诺您已经获得了相应的服务资格，即：
                    </p>
                    <p class="des_par text-indent font-weight-bold text-underline">1）您具备完全的法律权利和民事行为能力签订本用户协议；</p>
                    <p class="des_par text-indent font-weight-bold text-underline">2）依据中华人民共和国法律合法、有效存续的法人或其他组织；</p>
                    <p class="des_par text-indent font-weight-bold text-underline">3）同意并保证按照本用户协议和条件使用服务；</p>
                    <p class="des_par text-indent font-weight-bold text-underline">
                        4）在注册成为企业用户的同时，您也承认了您拥有购买我们提供的服务产品所必须的完全民事权利能力和民事行为能力以及与我们签订的协议具有法律约束力。</p>


                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">3. 账号使用</h4>
                    <p class="des_par text-indent">
                        您可以为您的企业注册多个天府菁英网企业账号，每个账号均需要实名认证。您可在账号中购买相应的服务，并按企业需求分配给相应的账号使用。<span
                            class="font-weight-bold text-underline">您需对您企业名下的账号承担管理责任，您企业名下的账号操作行为均视为企业行为，由企业承担相应的法律责任。如有证据证明或天府菁英网有理由相信您存在不当注册或不当使用天府菁英网企业账号的情形，我们可能对相关账号进行管理、关闭或采取其他合理措施，如因您的不当注册或不当使用给天府菁英网及相关方造成损失的，您还应承担相应的赔偿责任。</span>
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">4. 账号安全规范</h4>
                    <p class="des_par text-indent">
                        您应选择保密性强且安全性高的密码，妥善管理您的用户名、登录密码、支付密码（如有）和验证码。<span
                            class="font-weight-bold text-underline">除天府菁英网存在法定过错所导致的相关后果外，您应对您账户项下的所有行为结果（包括但不限于发布招聘信息、购买商品及服务及披露信息等）负责。请不要轻信索要密码或财产的网络信息，不要将上述信息提供给任何第三方使用，不从事任何可能使用户名、
                            密码存在泄露危险的行为。</span>建议您尽量不要在第三方应用中使用与天府菁英网企业帐户相同的密码。如您未妥善保管您的企业账号密码，而导致任何损失或损害，您应通过司法、行政等救济途径向侵权行为人追偿或由您自行承担。
                    </p>
                    <p class="des_par text-indent">
                        您理解并同意，通过自研、授权代理、默认其他任何第三方登录其账号或其他任何方式对天府菁英网网站及简历资源、数据库信息等进行任何非正常访问或对上述资料进行获取、下载等，均属于不合理使用账号的行为。当您发现企业账号的不当使用或有任何其他可能危及账号安全的情形时，应立即联系我们。<span
                            class="text-underline font-weight-bold">您理解天府菁英网对您的任何请求采取行动均需要合理时间，且天府菁英网应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除天府菁英网存在法定过错外，天府菁英网无任何义务承担责任。</span>
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="threeParagraph">三、天府菁英网服务及规范</h3>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">1. 服务概况</h4>
                    <p class="des_par text-indent">
                        作为人才生态的构建者，天府菁英网致力于建立更受职场人喜爱的职场发展平台和更受企业信赖的人才平台。天府菁英网向用户提供的服务，包括但不限于网络招聘、校园招聘、海外招聘、人才发展、人才测评、服务外包、职场社区、广告等产品及服务，为企业和职场人提供一站式的人才招聘服务，提高职场竞争力并实现自我价值。
                    </p>
                    <p class="des_par text-indent">我们的服务可能会根据您的需求不时调整更新，请以我们网页或相关移动客户端的服务项目为准。</p>
                    <p class="des_par text-indent">
                        当您把简历设置为“公开”时，招聘单位可主动搜索您的简历，以增加您的求职机会，我们不会在搜索结果中公开<span
                            class="text-underline">您的姓名和联系方式</span>；对您感兴趣的招聘单位可以与您约聊、对您发送投递简历邀请或下载您的简历；</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">2. 您使用招聘服务前的准备</h4>
                    <p class="des_par text-indent">由于我们通过国际互联网络为您提供网络服务，在您使用招聘服务前，需要满足使用网络服务的条件，您应当自行准备以下事项：</p>

                    <p class="des_par text-indent">1）配备上网的所需设备，包括个人电脑、调制解调器或其他必备上网装置；</p>
                    <p class="des_par text-indent">2）负担上网所支付的与此服务有关的电话费用、网络费用。</p>


                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">3. 发布招聘信息</h4>
                    <p class="des_par text-indent">
                        您在成功注册为企业用户后，即可就招聘目的（即雇主寻找雇员）在本网站发布招聘信息，以及按照相关要求和权限，发布与招聘目的有关的信息。您理解并同意，在发布招聘信息时不应存在以下行为：
                    </p>
                    <p class="des_par text-indent">
                        1）发布任何违反法律法规及其他规范性文件的信息，包括但不限于属于任何非法的、骚扰性的、中伤性的、辱骂性的、恐吓性的、伤害性、庸俗、淫秽、有违社会公序良俗等的信息或言论；</p>
                    <p class="des_par text-indent">2）发布任何与求职无关或与招聘信息发布之目的不符合的意见、通知、商业广告等信息；</p>
                    <p class="des_par text-indent">3）发布虚假、不准确、不完整或具有误导性的职位信息等内容；</p>
                    <p class="des_par text-indent">4）发布任何与职位名称、职位描述不符合的信息；</p>
                    <p class="des_par text-indent">5）以任何形式侵犯他人的版权、商标权、商业秘密或其他知识产权；</p>
                    <p class="des_par text-indent">6）侵犯个人和社会大众的隐私安全；</p>
                    <p class="des_par text-indent">7）利用网站开设的功能或权限发布、编辑、传播违反法律法规及其他规范性文件、引人反感或有违风化的信息、言论或内容。</p>
                    <p class="des_par text-indent text-underline font-weight-bold">
                        您理解并同意，您了解天府菁英网上的信息系用户自行发布，且可能存在风险和瑕疵。我们将通过依法建立相关检查监控制度尽可能保障您的合法权益及良好体验。同时，鉴于服务中的海量信息以及网络环境的虚拟性，我们无法逐一审查信息的合法性、真实性和准确性，您公开发布的信息可能被任何其他访问者浏览，也可能被错误使用，对此您应谨慎判断。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">4. 查阅简历</h4>
                    <p class="des_par text-indent">
                        您有权在网站中搜索求职者的简历或猎头顾问的简介，从而发现您感兴趣的求职者或猎头顾问，并进一步沟通与了解。您应当按照法定或约定的目的或方式使用上述信息，您在查阅简历时不应存在以下行为：
                    </p>
                    <p class="des_par text-indent">1）将任何服务中的信息用作任何商业目的，以及未经我们的同意，向任何其他第三方披露、许可、转让非公开信息或以类似方式使第三方知晓相关信息；
                    </p>
                    <p class="des_par text-indent">
                        2）未经我们的同意，将购买的服务产品（包括但不限于简历信息）用于任何除自身招聘以外的其他目的，或以任何方式泄露、授权或变相授权给任何第三方；</p>
                    <p class="des_par text-indent">3）擅自打印、复制或以其他方式使用有关雇员的任何个人资料；</p>
                    <p class="des_par text-indent">4）利用相关信息，与猎头顾问串通完成推荐；</p>
                    <p class="des_par text-indent">5）将我们提供的信息用于招聘以外的其他不合理目的。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">5. 信息的更改与删除</h4>
                    <p class="des_par text-indent">
                        招聘信息与简历的公布均属于信息的发布行为，除了信息的发布者外，任何访问者不得更改或删除他人发布的任何信息。<span
                            class="text-underline font-weight-bold">为保证网络安全秩序，我们有权依据法律法规及其他规范性文件的要求更改或删除任何不适当的信息。</span>
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">6. 招聘活动的开展</h4>
                    <p class="des_par text-indent">
                        当您确认您感兴趣的求职者时，您可以进一步开展招聘活动，通过与求职者的沟通、语音通话、笔试和面试等，确认符合您职位需求的求职者名单。您应当实施真实、合法、有效的招聘活动，并避免出现任何违法或不恰当行为，此等行为包括但不限于：
                    </p>
                    <p class="des_par text-indent">1）未经同意，向公布信息的求职者发电子邮件、打电话、寄信或以其他方式进行接触；</p>
                    <p class="des_par text-indent">2）冒充他人、利用他人的名义实施招聘活动；</p>
                    <p class="des_par text-indent">
                        3）存在任何扣押被录用人员或参加面试人员的居民身份证和其他证件，或以担保或其他任何名义向劳动者收取财物，或其他以招用人员为名牟取不正当利益等违法、犯罪行为；</p>
                    <p class="des_par text-indent">4）不遵守招聘活动秩序，不合理使用天府菁英网提供的物料及资源。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">7. 支付服务</h4>
                    <p class="des_par text-indent"><span
                            class="text-underline font-weight-bold">在您购买我们的任何付费服务前，请您仔细阅读付费服务涉及到的特殊条款并选择是否同意；若涉及到第三方服务提供商提供的服务时，您需要阅读第三方服务提供商的用户协议及产品规则并选择是否同意。</span>此外，您理解并同意：
                    </p>
                    <p class="des_par text-indent">
                        1）您购买服务产品的价格以您在线下单时网站上公布的价格为准。由于服务产品的特殊性，在前述费用支付完成后，您将不能退款，请您确认无误后再支付；</p>
                    <p class="des_par text-indent">
                        2）我们将根据不同的服务种类设定相应的价格，我们可能根据市场环境对服务的价格进行调整。您已经购买的服务或产品，不得以变更后的价格（如有）主张索赔或返还一定的金额；</p>
                    <p class="des_par text-indent">3）即便在您的支付方式过期之后，我们仍可储存和继续使用其信息，以避免产生无效交易；</p>
                    <p class="des_par text-indent">
                        4）如您有违反有关法律法规以及本协议的行为，包括但不限于发布有关法律法规或本协议中明令禁止发布的信息，恶意损毁本网站声誉、商誉以及其他违反有关法律法规、本协议以及相关网站，天府菁英网有权单方决定中断或终止向您提供服务，天府菁英网将不退还已支付费用且不承担任何责任，由此给您带来的损失由您自行承担。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">8. 信息推送</h4>
                    <p class="des_par text-indent">
                        您理解并同意，为向您提供更全面、更便利的招聘服务，天府菁英网及其关联公司可能通过短信、电子邮件的方式向您推送您可能感兴趣的商品服务的宣传信息、优惠促销等信息（包括商业信息或非商业信息）。此外，为了使您在招聘过程中能实时了解招聘进展，我们可能向您推送消息。如果您不想接受我们以任何方式向您推送的信息，您可以选择收回您的授权同意。您可以通过我们在电子邮件中的退订按钮或按照我们在短信中提供的退订说明进行退订。需要说明的是，当涉及到系统管理或安全信息等事关您使用服务或信息安全的重要事项时，我们仍会向您推送该信息，以确保您能够顺畅使用天府菁英网相关服务。
                    </p>
                    <p class="des_par text-indent font-weight-bold text-underline">
                        您理解并同意，对上述的相关信息推送，您应审慎判断其真实性和可靠性，除法律法规明确规定外，您应对您个人因该信息而实施的行为负责。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">9. 安全义务</h4>
                    <p class="des_par text-indent">
                        在您使用天府菁英网服务的过程中，我们将采取技术措施和其他必要措施尽力保证网络安全、稳定运行，并防范网络违法犯罪活动。同时，您应遵守相关法律法规，不应从事违反法律法规或影响网站安全的行为，包括但不限于：
                    </p>
                    <p class="des_par text-indent">
                        1）违反网络安全法律规定和危害计算机信息网络安全的活动：如破坏或企图破坏天府菁英网的网络安全保护措施，对网络服务及相关软硬件设施进行破解、破坏、删除、修改或者增加的；对计算机信息网络中存储或者传输的数据和应用程序进行删除、修改或者增加的，包括通过超载、“邮件炸弹”或“摧毁”等手段，干涉对用户及网络的服务；使用软件或硬件等方式窃取他人口令、非法入侵他人计算机系统，包括接触未经许可的数据或进入未经许可的服务器、帐户、邮箱或许可第三方接入未经本网站同意的由本网站发布、输送、传播的数据、简历或其他信息等；故意制作、传播计算机病毒等破坏性程序的；其他危害计算机信息网络安全的活动；
                    </p>
                    <p class="des_par text-indent">
                        2）存在严重违法犯罪行为：使用天府菁英网服务危害国家安全、破坏政治稳定、泄露国家秘密，侵犯国家、社会、集体利益和第三方的合法权益、从事违法犯罪活动；设立用于实施诈骗、传授犯罪方法、制作或者销售违禁物品、管制物品等违法犯罪活动的网站、通讯群组；
                    </p>
                    <p class="des_par text-indent">
                        3）发布禁止性、违规性或侵害第三人合法权益的信息：违反国家法律法规禁止性规定的；政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；煽动民族仇恨、民族歧视，破坏民族团结的；欺诈、虚假、不准确或存在误导性的；侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；违背当地风俗习惯的；其他违背社会公共利益或公共道德或依据天府菁英网相关协议/规则/政策的规定不适合在天府菁英网中发布的；
                    </p>
                    <p class="des_par text-indent">4）私自发送促销、产品广告及服务的信息；</p>
                    <p class="des_par text-indent">5）侵犯他人的版权、商业机密、或其他知识产权，或侵犯他人的隐私权或其他个人合法权利的行为。</p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="fourParagraph">四、责任承担</h3>
                    <p class="des_par text-indent">
                        <span
                            class="text-underline font-weight-bold">如您在使用天府菁英网服务的过程中出现违反上述条款的一项或多项行为的，您需要对此等行为造成的全部不利后果承担损害赔偿责任及全部法律责任。</span>我们有权会向您发送一份书面/邮件警告，如果您同意以书面形式承诺不会再次发生上述行为，天府菁英网有权决定是否给予暂停使用或终止使用的处理。在必要或紧急的情形下，我们可能马上暂停或终止对您的服务。
                    </p>
                    <p class="des_par text-indent">
                        如果我们确定您再次发生上述行为，我们将不会发出通知或警告，而有权直接对您的账户采取暂停使用或终止使用的处理方式。此外，如果您的行为导致天府菁英网产生任何直接或间接经济损失，例如天府菁英网首先承担了因您的行为导致的行政处罚或侵权损害赔偿责任等损失后，您应立即向天府菁英网支付等额赔偿以使得天府菁英网免受损害。
                    </p>
                    <p class="des_par text-indent">
                        对于因您使用天府菁英网服务或违反本用户协议而导致的或与之相关的任何索赔、起诉或诉讼，包括因索赔、损失、损害赔偿、起诉、判决、诉讼费和律师费而产生的任何责任或费用，您应对天府菁英网及其关联公司、管理人员、代理机构和员工进行赔偿并使之免受损害。
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="fiveParagraph">五、知识产权保护</h3>
                    <p class="des_par text-indent">
                        天府菁英网服务中提供的内容、图表、版式设计等所呈现出的全部或部分可单独作为作品保护的内容（包括但不限于网页、文字、图片、图像、地图、图标、音频、视频、图表、版面设计、电子文档、数据资料等），以及开发、运营和维护本网站运营的各种源代码、执行程序、系统和数据均受到中国版权法律、法规及相关国际条约的保护。<span
                            class="font-weight-bold text-underline">除另有书面声明以外，以上信息和内容的知识产权归天府菁英网所有，未经天府菁英网事先书面同意，不允许全部或部分复制、转载、使用、修改、链接、汇编、发表、抓取或以其他任何方式使用。</span>
                    </p>
                    <p class="des_par text-indent">
                        您理解且同意，在事先得到天府菁英网的书面许可，且未对内容和图表等作品、元素或信息进行任何修改的情况下，天府菁英网的相关内容和信息可在天府菁英网页面之外展示或用作非商业用途。经天府菁英网同意后复制、转载或者以其他形式使用本网站相关内容和信息的，应当标明资料来源于“天府菁英网”或“http://www.cdtfhr.com/”，以及天府菁英网或关联方拥有该等内容和信息的著作权的字样。申请使用天府菁英网的相关内容和信息的许可是按逐个批准的原则进行的。欢迎您通过页面底部的联系方式向我们提出申请。
                    </p>
                    <p class="des_par text-indent">
                        请您注意，您在使用天府菁英网服务时上传、提交、存储或发布的内容（包括但不限于文字、图片、视频、音频、动画等）均由您原创或已获合法授权。您通过天府菁英网服务上传、提交、存储或发布的任何内容的知识产权归属您或原始著作权人所有，您的上传、提交、存储或发布行为不会侵犯他人的知识产权或其他合法权益。<span
                            class="font-weight-bold text-underline">一旦接受本用户协议，即表明您主动将上述内容的非专属、可转让的财产性权利，如著作权（包括但不限于：复制权、发行权、出租权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），排他地、无地域限制地、免费地授权给天府菁英网及其关联公司。天府菁英网及其关联公司或其所授权许可的第三方可通过对上述授权内容进行修改、复制、改编、翻译、汇编或制作，形成衍生产品。在不违反相关法律法规的强制性规定、尊重相关原始授权内容的知识产权的基础上，该等衍生产品的相关知识产权归天府菁英网及其关联公司或天府菁英网所授权许可的第三方所有。</span>
                    </p>
                    <p class="des_par text-indent">
                        <span
                            class="font-weight-bold text-underline">请您注意，天府菁英网及关联品牌的附属标志及图案属于天府菁英网所有。天府菁英网中的业务合作者的商标属于合作者所有。请您不要以自己名义或促使第三方，也不会同意或放任任何第三方，以任何方式申请与天府菁英网商标相似的商标、域名、无线网站、互联网搜索词或任何商号、服务标志。</span>未经天府菁英网或天府菁英网业务合作者的事先书面许可，不得复制或以任何其他方式使用上述商标。
                    </p>
                    <p class="des_par text-indent">
                        <span
                            class="font-weight-bold text-underline">请您注意，因您通过天府菁英网上传、发布的任何内容导致的知识产权侵权问题，您将承担全部责任；如天府菁英网及关联公司，或授权的其他服务提供方因第三方知识产权维权而产生损失，您将面临等额赔偿的责任。您同意授权天府菁英网及其关联公司以</span>天府菁英网或其关联公司<span
                            class="font-weight-bold text-underline">名义或委托专业第三方针对有关您上传、提交、存储或发布的内容（含衍生作品）的侵权行为进行独立自主的维权并获得全部赔偿。</span>
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="sixParagraph">六、不可抗力及其他免责事由</h3>
                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">1. 不可抗力</h4>
                    <p class="des_par text-indent">
                        您理解且同意，当您使用天府菁英网服务时，可能会遇到不可抗力等风险因素，导致天府菁英网服务暂停或无法继续提供。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于台风、地震、洪水、冰雹、政府行为、罢工、骚乱、信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、法律法规变动、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务，或提供的信息及数据的延误、停滞或错误等行为。<span
                            class="font-weight-bold text-underline">如发生不可抗力情形，我们将尽可能及时修复，对于由此给您造成的损失，天府菁英网不承担任何责任。</span>
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent">2. 其他免责事由</h4>
                    <p class="des_par text-indent">1）您对于职位数据库发布的信息的真实性、准确性和合法性负有全部责任；</p>
                    <p class="des_par text-indent">
                        2）企业用户及个人用户均应审慎的对待他方之行为，天府菁英网无法对用户的线下行为负责，因为他方之行为给用户造成任何不利影响的，天府菁英网不承担任何法律责任；</p>
                    <p class="des_par text-indent">
                        3）为向用户提供便利而设置的第三方链接网址，天府菁英网并不保证其准确性、安全性和完整性，亦并不代表天府菁英网对其链接内容的认可，请您谨慎确认后再使用。<span
                            class="font-weight-bold text-underline">由于与天府菁英网链接的其他网站或用户所使用的网络运营商所造成的个人信息泄露或其他任何损失，以及由此而导致的任何法律争议和后果均由其他网站或用户所使用的网络运营商负责；</span>
                    </p>
                    <p class="des_par text-indent">
                        4）<span
                            class="font-weight-bold text-underline">除非另有明确书面说明，在符合法律法规规定的情况下，天府菁英网不对其网站和客户端上的信息、内容、材料、产品或服务做任何形式的明示或默示的声明或担保；</span>
                    </p>
                    <p class="des_par text-indent">5）<span
                            class="font-weight-bold text-underline">在法律允许的范围内，天府菁英网及其关联公司对于本用户协议项下任何索赔的全部赔偿责任限于您因使用服务而向我们支付的金额。</span>
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="sevenParagraph">七、协议的修改与终止</h3>
                    <p class="des_par text-indent">
                        <span
                            class="font-weight-bold text-underline">您应当定期查阅本用户协议，天府菁英网有权根据需要随时修改本用户协议和《天府菁英网隐私政策》，并以网站公示的方式进行公告。若有重大变更，我们将通过网页或推送通知等有效方式发布或发送关于条款更改的公告，使您有机会在更改生效之前查看更改。如您不同意任何更改的内容，可停止更改内容所涉及的服务或联系客服以注销账户。如您在上述更改内容实施后继续使用所涉及的服务，则视为您已同意各项更新修改内容</span>。
                    </p>
                    <p class="des_par text-indent">当发生以下任一情况时，本用户协议终止：</p>
                    <p class="des_par text-indent">1）天府菁英网根据本用户协议相关条款的规定，停止、注销您的企业账号，本用户协议于账号停止、注销之日终止；</p>
                    <p class="des_par text-indent">2）您在符合条件的情况下通过联系客服的方式注销您的企业账号，本用户协议于账号注销之日终止；</p>
                    <p class="des_par text-indent">
                        3）天府菁英网有权根据自身商业安排终止全部天府菁英网服务，我们在终止服务前合理时间内提前通知您，本用户协议于天府菁英网服务依法定程序及方式终止之日终止。</p>
                    <p class="des_par text-indent">
                        <span
                            class="font-weight-bold text-underline">本用户协议终止后，您使用天府菁英网的权利即告终止。天府菁英网将无法继续向您提供任何服务或履行任何其他义务，包括但不限于为您保留或向您展示原天府菁英网账号中的任何信息，例如向您或其他第三方发送您所形成的信息资料等。</span>本用户协议的终止不影响知识产权条款以及其他根据其内容应继续有效的条款的有效性。
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="eightParagraph">八、通知</h3>

                    <p class="des_par text-indent">
                        当您注册企业账号并接受天府菁英网服务时，您应该向天府菁英网提供真实有效的联系方式（包括您的工作邮箱、联系电话等），使天府菁英网能随时联系您并向您发出有效的通知。此外，天府菁英网向您浏览界面推送的弹窗等通知形式，也视作向您发出的有效通知。
                    </p>
                    <p class="des_par text-indent">
                        您理解且同意，您应当保证所提供的联系方式是准确、有效的，并进行实时更新。<span
                            class="font-weight-bold text-underline">如果因提供的联系方式不确切，或不及时告知变更后的联系方式，使通知无法送达或未及时送达，由您自行承担由此可能产生的损害赔偿责任及其他法律后果。</span>
                    </p>

                    <h3 class="des_title mt-lg text-md font-weight-bold" id="nineParagraph">九、法律管辖适用及其他</h3>
                    <p class="des_par text-indent">
                        <span
                            class="font-weight-bold text-underline">本用户协议适用中华人民共和国法律。您理解且同意，如您因使用天府菁英网服务与天府菁英网产生纠纷，我们将与您协商解决，协商不成时，任何一方均可向天府菁英网注册地有管辖权的人民法院提起诉讼</span>。
                    </p>
                    <p class="des_par text-indent">
                        如果您与我们同时签署了线下的服务协议，法律管辖适用线下的服务协议的规定；若您与我们仅签署了线上的《天府菁英网用户服务协议》，则适用本用户协议的管辖条款。</p>
                    <p class="des_par text-indent">
                        如果本用户协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。无法适用的条款将会被修改，以便其能够依法适用。</p>
                    <p class="des_par text-indent">
                        未明示授权的其他权利仍由天府菁英网保留，您在行使这些权利时须另外取得天府菁英网的书面许可。天府菁英网如果未行使前述任何权利，并不构成对该权利的放弃。</p>
                    <p class="des_par text-indent">如您对本用户协议有任何问题或建议，请通过拨打客服热线（电话：400-060-6661转3）与我们取得联系。</p>

                </div>
            </div>
        </div>


    </div>

</div>