<!-- 招考轮播 -->
<app-zk-banner-tpl></app-zk-banner-tpl>
<!-- 招考功能模块 -->
<div class="fun_modal_wrapper">
    <div class="body__content_box">
        <div nz-row [nzGutter]="14">
            <div nz-col nzSpan="6" class="fun_modal_list_box">
                <div class="d-flex align-items-center justify-content-center bg-white border-radius-sm point">
                    <span class="modal_list_icon icon_apply mr-lg d-block"></span>
                    <div class="modal_list_des">
                        <h3 class="modal_list_des_title_zh text-md">网上报名</h3>
                        <div class="modal_list_des_title_en text-xs">Apply Online</div>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="6" class="fun_modal_list_box">
                <div class="d-flex align-items-center justify-content-center bg-white border-radius-sm point">
                    <span class="modal_list_icon icon_print mr-lg d-block"></span>
                    <div class="modal_list_des">
                        <h3 class="modal_list_des_title_zh text-md">准考证打印</h3>
                        <div class="modal_list_des_title_en text-xs">Ticket Printing</div>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="6" class="fun_modal_list_box">
                <div class="d-flex align-items-center justify-content-center bg-white border-radius-sm point">
                    <span class="modal_list_icon icon_search mr-lg d-block"></span>
                    <div class="modal_list_des">
                        <h3 class="modal_list_des_title_zh text-md">成绩查询</h3>
                        <div class="modal_list_des_title_en text-xs">Query Results</div>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="6" class="fun_modal_list_box">
                <div (click)="navTo('/entrance/questions')" class="d-flex align-items-center justify-content-center bg-white border-radius-sm point">
                    <span class="modal_list_icon icon_question mr-lg d-block"></span>
                    <div class="modal_list_des">
                        <h3 class="modal_list_des_title_zh text-md">常见问题</h3>
                        <div class="modal_list_des_title_en text-xs">Online Help & FAQ</div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>

<!-- 招考广告宣传 -->
<app-zk-adverting-list-tpl></app-zk-adverting-list-tpl>

<!-- 招考公告 及新闻中心 -->
<app-zk-news-list-tpl></app-zk-news-list-tpl>
