<form nz-form [formGroup]="validateForm">
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="school_name" nzRequired>学校名称</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请输入学校名称，例如：四川大学">
            <input nz-input id="school_name" formControlName="school_name" nzSize="large" placeholder="请输入学校名称，例如：四川大学" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="edu_record" nzRequired>学历</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择学历">
            <nz-select id="edu_record" formControlName="edu_record" nzSize="large" nzPlaceHolder="请点击选择学历">
                <nz-option nzValue="大专" nzLabel="大专"></nz-option>
                <nz-option nzValue="本科" nzLabel="本科"></nz-option>
                <nz-option nzValue="研究生" nzLabel="研究生"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="edu_major" nzRequired>专业</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请输入专业，例如：计算机科学与技术">
            <input nz-input id="edu_major" formControlName="edu_major" nzSize="large" placeholder="请输入专业，例如：计算机科学与技术" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="edu_start_time" nzRequired>入学时间</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择入学时间">
            <app-date-picker-month formControlName="edu_start_time" [placeholder]="'请点击选择入学时间'" [size]="'large'"></app-date-picker-month>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="edu_end_time" [nzRequired]="!validateForm.get('is_not_end')?.value">毕业时间</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择毕业时间">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="18">
                    <app-date-picker-month formControlName="edu_end_time" [placeholder]="'请点击选择毕业时间'" [size]="'large'"></app-date-picker-month>
                </div>
                <div nz-col [nzSpan]="6" class="text-right agree_box">
                    <label nz-checkbox formControlName="is_not_end" nzSize="large" (ngModelChange)="isNotEndChange($event)">至今</label>
                </div>
            </div>
        </nz-form-control>
    </nz-form-item>
</form>