<div class="resume-show_sub_content_box">
    <div class="resume-show-sub-title-box">
        <app-sub-title-show [title]="'自我评价'"></app-sub-title-show>
        <div class="edit-box">
            <nz-divider [nzText]="rightTextTpl" nzOrientation="right" nzDashed></nz-divider>
            <ng-template #rightTextTpl>
                <div class="text-sm edit_icon_box d-flex align-items-center text-primary point" (click)="editInfo()">
                    <!-- <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i> -->
                    <span class="resume_info_edit_icon mr-sm"></span>
                    编辑
                </div>
            </ng-template>
        </div>
    </div>

    <div class="resume-show_content_body my-sm py-sm px-md">
        <div *ngIf="resumeInfo.self_evalution" class="text-grey text-sm" [innerHTML]="resumeInfo.self_evalution | showTextAreaText"></div>
        <div *ngIf="!resumeInfo.self_evalution" class="text-grey text-sm">未填写自我评价</div>
    </div>
</div>