<div class="admin_right_body_content_wrapper bg-white border-radius-sm">

    <ng-container *ngIf="list.length !== 0 && !loadingData">
        <div class="list_body_wrapper">
            <nz-table #basicTable [nzData]="list" nzFrontPagination="false" nzShowPagination="false">
                <thead>
                    <tr>
                        <th>简历名称</th>
                        <th>创建时间</th>
                        <th>最近更新</th>
                        <th>简历公开</th>
                        <th>默认简历</th>
                        <th nzWidth="140px" class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data; let i = index">
                        <!-- <td></td> -->
                        <td>
                            我的简历（1）
                            <span *ngIf="i === 0"
                                class="px-sm py-xs bg-danger text-white text-xs border-radius-sm">默认</span>
                            <!-- <span *ngIf="i !== 1" class="px-sm py-xs bg-grey text-white text-xs border-radius-sm">草稿</span> -->
                        </td>
                        <td class="text-666">
                            <div>2020/06/18</div>
                            <div>20:20:20</div>
                        </td>
                        <td class="text-666">
                            <div>2020/06/18</div>
                            <div>20:20:20</div>
                        </td>
                        <td>
                            <nz-switch [(ngModel)]="isOpen" (ngModelChange)="openValueChange($event, data)"
                                nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
                        </td>
                        <td>
                            <nz-switch [(ngModel)]="isDefault" (ngModelChange)="setDefault($event, data)"
                                nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
                        </td>
                        <td>
                            <div class="oper_box_wrapper">
                                <div class="oper-list text-lg text-nowrap text-center">
                                    <span class="text-primary mr-sm point" (click)="editResumeName(data)">
                                        <i nz-icon nzType="exception" nzTheme="outline"></i>
                                    </span>

                                    <a [routerLink]="['/fullscreen/resume/view', 2]" target="_blank"><i nz-icon
                                            nzType="eye" nzTheme="outline"></i></a>

                                    <a class="mx-sm" [routerLink]="['/admin/user/resumes/edit', 2]"><i nz-icon
                                            nzType="edit" nzTheme="outline"></i></a>
                                    <a nz-popconfirm nzPopconfirmTitle="您是否确认删除当前简历" nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="deleted(data)" (nzOnCancel)="cancel()" class="text-danger">
                                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                                    </a>

                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <div class="add_resumes_btn_box">
                <a [routerLink]="['/admin/user/resumes/add']" nz-button nzBlock nzType="link" nzSize="large"><i nz-icon nzType="plus-circle" nzTheme="outline"></i> 新增简历</a>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="list.length === 0 && !loadingData">
        <div class="d-flex justify-content-center align-items-center">
            <div class="list_empty_content">
                <div class="text-center text-lg text-grey">您还没有简历，请创建一个简历！</div>
                <div class="empty_image_box"><img src="./assets/imgs/icon/icon_info_gray.png" alt=""></div>
                <div class="text-center empty_btn">
                    <a [routerLink]="['/admin/user/resumes/add']" nz-button nzType="primary" [nzSize]="'large'">创建简历</a>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="list.length === 0 && loadingData">
        <div class="d-flex justify-content-center align-items-center">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
    </ng-container>
</div>