<div class="admin_right_body_content_wrapper bg-white border-radius-sm">

    <ng-container *ngIf="list.length !== 0 && !loadingData">
        <div class="list_body_wrapper">
            <nz-table #basicTable [nzData]="list" nzFrontPagination="false" nzShowPagination="false">
                <thead>
                    <tr>
                        <th></th>
                        <th nzWidth="280px">简历名称</th>
                        <th class="text-center">创建时间</th>
                        <th class="text-center">最近更新</th>
                        <th>简历公开</th>
                        <th>默认简历</th>
                        <th nzWidth="230px" class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data; let i = index">
                        <td>
                            <span *ngIf="data.is_default"
                                class="px-sm py-xs bg-danger text-white text-nowrap text-xs border-radius-sm">默认</span>
                            <span *ngIf="data.is_draft && !data.is_default"
                                class="px-sm py-xs bg-grey text-white text-nowrap text-xs border-radius-sm">草稿</span>
                        </td>
                        <td>
                            {{ data.title }}
                        </td>
                        <td class="text-666 text-center">
                            <div>{{ data.created_at | date: 'yyyy/MM/dd'}}</div>
                            <div>{{ data.created_at | date: 'HH:mm:ss'}}</div>
                        </td>
                        <td class="text-666 text-center">
                            <div>{{ data.updated_at | date: 'yyyy/MM/dd'}}</div>
                            <div>{{ data.updated_at | date: 'HH:mm:ss'}}</div>
                        </td>
                        <td>
                            <nz-switch [(ngModel)]="data.privacy" [nzLoading]="openItemOption[data.id]"
                                [nzControl]="true" (click)="openValueChange(data)" nzCheckedChildren="是"
                                nzUnCheckedChildren="否"></nz-switch>
                        </td>
                        <td>
                            <nz-switch [(ngModel)]="data.is_default" [nzLoading]="defaultItemOption[data.id]"
                                [nzControl]="true" (click)="setDefault(data)" nzCheckedChildren="是"
                                nzUnCheckedChildren="否" [nzDisabled]="data.is_default"></nz-switch>
                        </td>
                        <td>
                            <div class="oper_box_wrapper d-flex align-items-center justify-content-around">
                                <div class="oper-list text-center point" (click)="editResumeName(data)">
                                    <span class="rename"></span>
                                    <p class="text-primary text-xs">重命名</p>
                                </div>
                                <a class="d-block oper-list text-center"
                                    [routerLink]="['/fullscreen/resume/view', data.id]" target="_blank">
                                    <span class="view"></span>
                                    <p class="text-primary text-xs">预览</p>
                                </a>
                                <a class="oper-list text-center" [routerLink]="['/admin/user/resumes/edit', data.id]">
                                    <span class="edit"></span>
                                    <p class="text-primary text-xs">编辑</p>
                                </a>
                                <div class="oper-list text-center point" (click)="showModal(data)">
                                    <span class="del"></span>
                                    <p class="text-danger text-xs">删除</p>
                                </div>

                                <!-- <div class="oper-list text-lg text-nowrap text-center">
                                    <span class="text-primary mr-sm point" (click)="editResumeName(data)" nz-tooltip nzTooltipTitle="修改简历名称">
                                        <i nz-icon nzType="exception" nzTheme="outline"></i>
                                    </span>

                                    <a [routerLink]="['/fullscreen/resume/view', data.id]" target="_blank"><i nz-icon
                                            nzType="eye" nzTheme="outline" nz-tooltip nzTooltipTitle="简历预览"></i></a>

                                    <a class="mx-sm" [routerLink]="['/admin/user/resumes/edit', data.id]"><i nz-icon
                                            nzType="edit" nzTheme="outline" nz-tooltip nzTooltipTitle="修改简历"></i></a>

                                    <a  *ngIf="!data.is_default" nz-popconfirm nzPopconfirmTitle="您是否确认删除当前简历" nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="deleted(data)" (nzOnCancel)="cancel()" class="text-danger">
                                        <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip nzTooltipTitle="删除简历"></i>
                                    </a>

                                </div> -->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <div class="add_resumes_btn_box">
                <a [routerLink]="['/admin/user/resumes/add']" nz-button nzBlock nzType="link" nzSize="large"><i nz-icon
                        nzType="plus-circle" nzTheme="outline"></i> 新增简历</a>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="list.length === 0 && !loadingData">
        <div class="d-flex justify-content-center align-items-center">
            <div class="list_empty_content">
                <div class="text-center text-lg text-grey">您还没有简历，请创建一个简历！</div>
                <div class="empty_image_box"><img src="./assets/imgs/icon/icon_info_gray.png" alt=""></div>
                <div class="text-center empty_btn">
                    <a [routerLink]="['/admin/user/resumes/add']" nz-button nzType="primary" [nzSize]="'large'">创建简历</a>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="list.length === 0 && loadingData">
        <div class="d-flex justify-content-center align-items-center">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
    </ng-container>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="提示" [nzFooter]="null" (nzOnCancel)="handleCancel()" [nzMaskClosable]="false">
    <p class="text-666 text-center text-lg">是否删除此简历？</p>
    <p class="text-grey text-center">删除简历后将无法恢复。</p>

    <div class="d-flex justify-content-around pt-lg mt-lg">
        <button [nzLoading]="deletedLoading" (click)="handleOk()" nz-button nzType="primary" class="login-form-button"
            nzSize="large">删除</button>
        <button (click)="handleCancel()" nz-button nzType="default" class="login-form-button" nzSize="large">取消</button>
    </div>
</nz-modal>