@import '//at.alicdn.com/t/font_2024013_ktcdxr29keg.css';

.resume-oper-tpl_body {
    padding: 50px 20px 0;

    .relay_icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        background: url('/assets/imgs/icon/icon_btnrelay.png') no-repeat center center;
        background-size: contain
    }
}

:host ::ng-deep {
    .oper_btn_box {
        .ant-btn-background-ghost {
            background-color: #fff!important;
        }
    }
}
// 修改弹出框样式
::ng-deep {
  .ant-modal {
      padding-right: 55px;
      
      .ant-modal-title {
          text-align: center;
      }
      .ant-modal-close {
          right: -55px;
          .ant-modal-close-x {
              width: 32px;
              height: 32px;
              line-height: 32px;
              font-size: 26px;
              font-weight: bold;
              color: #fff;
          }
      }
  }
}
