@import '//at.alicdn.com/t/font_2024013_ktcdxr29keg.css';

.resume-oper-tpl_body {
    padding: 50px 20px 0;

    .relay_icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        background: url('/assets/imgs/icon/icon_btnrelay.png') no-repeat center center;
        background-size: contain
    }
}

:host ::ng-deep {
    .oper_btn_box {
        .ant-btn-background-ghost {
            background-color: #fff!important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.oper_icon_box {
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.oper_download_log {
    background-image: url('/assets/imgs/icon/icon_btndownload18.png');
}
.oper_save_log {
    background-image: url('/assets/imgs/icon/icon_btnsave18.png');
}
.oper_collect_log {
    background-image: url('/assets/imgs/icon/icon_btncollect18.png');
}
.oper_shared_log {
    background-image: url('/assets/imgs/icon/icon_btnrelay18.png');
}
.oper_message_log {
    background-image: url('/assets/imgs/icon/icon_btncomment18.png');
}
.oper_download {
    background-image: url('/assets/imgs/icon/icon_btndownload.png');
}
.oper_save {
    background-image: url('/assets/imgs/icon/icon_btnsave.png');
}
.oper_collect {
    background-image: url('/assets/imgs/icon/icon_btncollect.png');
}
.oper_collect_before {
    background-image: url('/assets/imgs/icon/icon_btncollect_behave.png');
}
.oper_send {
    background-image: url('/assets/imgs/icon/icon_btnrelay.png');
}
.oper_deliver {
    background-image: url('/assets/imgs/icon/icon_btnsent.png');
}
.oper_message {
    background-image: url('/assets/imgs/icon/icon_btncomment.png');
}

// 修改弹出框样式
::ng-deep {
  .ant-modal {
      padding-right: 55px;
      
      .ant-modal-title {
          text-align: center;
      }
      .ant-modal-close {
          right: -55px;
          .ant-modal-close-x {
              width: 32px;
              height: 32px;
              line-height: 32px;
              font-size: 26px;
              font-weight: bold;
              color: #fff;
          }
      }
  }
}
