<div class="login-modal">
    <div class="logo-box"><img src="/assets/imgs/logo_full_color.png" alt=""></div>

    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-sm"></nz-alert>
        <nz-form-item>
            <nz-form-control nzErrorTip="输入您的手机号码">
                <input type="text" nzSize="large" nz-input formControlName="phone" placeholder="输入手机号" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="输入您收到的验证码">
                <nz-input-group [nzSuffix]="suffixCode" nzSize="large">
                    <input type="text" formControlName="code" nz-input placeholder="验证码" />
                </nz-input-group>
                <ng-template #suffixCode>
                    <div class="code-btn-box text-center">
                        <span *ngIf="!isGetCode" (click)="getCaptcha($event)" class="text-primary text-md point">获取</span>
                        <span *ngIf="isGetCode" class="text-primary text-md">{{ count }}s</span>
                    </div>
                </ng-template>

            </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="loading" nzSize="large">登
            &nbsp;&nbsp;&nbsp;录</button>

        <p class="text-center"><a [routerLink]="['/passport/register/user']">没有账号，立即注册</a></p>
    </form>
</div>