<form nz-form [formGroup]="validateForm">
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>项目名称</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请输入项目名称">
            <input nz-input formControlName="projectName" placeholder="请输入项目名称" type="text" nzSize="large" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>项目时间</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请选择项目起止时间">
            <app-range-month-picker [isNow]="false" formControlName="projectRangeDate" [placeholder]="['请选择何时开始', '请选择何时结束']" [size]="'large'"></app-range-month-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>责任描述</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请填写项目中的责任描述">
            <textarea formControlName="projectDescription" nz-input [nzAutosize]="{ minRows: 2, maxRows: 6 }" placeholder="请输入内容"></textarea>
        </nz-form-control>
    </nz-form-item>
    
    <div class="modal-oper_btn_box d-flex justify-content-around align-items-center">
        <button nz-button nzSize="large" nzType="default" (click)="cancel($event)">取消</button>
        <button nz-button nzSize="large" [nzLoading]="loading" nzType="primary" (click)="submitForm()">保存</button>
    </div>

</form>