<div nz-row nzGutter="18">
  <div nz-col nzSpan="18">
    <nz-card>
      <app-resumes-search-form-tpl (searchValueChange)="searchValueChange($event)"></app-resumes-search-form-tpl>

    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card nzTitle="最近搜索记录" class="history_record">
      <nz-list nzSize="small">
        <ng-container *ngFor="let item of historyData">
          <nz-list-item (click)="historyClick(item)">{{ item }}</nz-list-item>
        </ng-container>
      </nz-list>
    </nz-card>
    
  </div>
</div>
<div class="mt-md bg-white">
  <div class="sort_box text-right">
    <span class="mr-sm" style="line-height: 26px;">排序方式</span>
    <nz-radio-group [(ngModel)]="searchOptions.sort" nzSize="small" (ngModelChange)="sortChange()">
      <label nz-radio-button nzValue="A">最新</label>
      <label nz-radio-button nzValue="B">相关度</label>
    </nz-radio-group>
  </div>
  <nz-table
      #tableTpl
      nzShowSizeChanger
      [nzData]="listOfData"
      [nzFrontPagination]="false"
      [nzLoading]="loadingData"
      [nzTotal]="total"
      [nzPageSize]="searchOptions.pageSize"
      [nzPageIndex]="searchOptions.pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th>姓名</th>
          <th>性别</th>
          <th>年龄</th>
          <th class="text-center">工作经验</th>
          <th>学历</th>
          <th>学校</th>
          <th>专业</th>
          <th>最近就职公司</th>
          <th>最近职位</th>
          <th class="text-center">相关度</th>
          <th>刷新时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableTpl.data">
          <td>
            <a [routerLink]="['/fullscreen/resume/view', 18]" target="_blank">张三</a>
          </td>
          <td>性别</td>
          <td>
            {{ countYears('1990-11-07') }} 岁
          </td>
          <td class="text-center">
            <!-- 如果存在工作时间  2013-03-09  则表示有工作经验，如果没有工作时间，则显示 无经验 -->
            <ng-container *ngIf="countYears('2013-03-09') >= 1">{{countYears('2013-03-09')}}年</ng-container>
            <ng-container *ngIf="countYears('2013-03-09') < 1">1年以内</ng-container>
          </td>
          <td>学历</td>
          <td>学校</td>
          <td>专业</td>
          <td>最近就职公司</td>
          <td>最近职位</td>
          <td class="text-danger">80%</td>
          <td>刷新时间</td>
        </tr>
      </tbody>
    </nz-table>
</div>
