@import './../../../../../styles/base-color.less';

.item_content {
    &:hover {
        color: @primary-color;
    }
}

:host ::ng-deep {
    .history_record {
        height: 100%;
        .ant-card-body {
            padding: 0;
        }
    }
    .ant-list-split .ant-list-item {
        border-bottom: 0;
    }
    .first_item_box.ant-list-item {
        border-left: 2px solid @primary-color;
    }
}

.sort_box {
    line-height: 60px;
    padding-right: 30px;
}