<div nz-row nzGutter="18">
  <div nz-col nzSpan="18">
    <nz-card>
      <app-resumes-search-form-tpl (searchValueChange)="searchValueChange($event)"></app-resumes-search-form-tpl>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card nzTitle="最近搜索记录" class="history_record">
      <nz-list nzSize="small">
        <ng-container *ngFor="let item of historyData">
          <nz-list-item (click)="historyClick(item)">{{ item }}</nz-list-item>
        </ng-container>
      </nz-list>
    </nz-card>
    
  </div>
</div>
<div class="mt-md bg-white">
  <div class="sort_box text-right">
    <span class="mr-sm" style="line-height: 26px;">排序方式</span>
    <nz-radio-group [(ngModel)]="searchOptions.sort" nzSize="small" (ngModelChange)="sortChange()">
      <label nz-radio-button nzValue="newest">最新</label>
      <label nz-radio-button nzValue="correlation">相关度</label>
    </nz-radio-group>
  </div>
  <nz-table
      #tableTpl
      nzShowSizeChanger
      [nzData]="listOfData"
      [nzFrontPagination]="false"
      [nzLoading]="loadingData"
      [nzTotal]="total"
      [nzPageSize]="searchOptions.pageSize"
      [nzPageIndex]="searchOptions.pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th>姓名</th>
          <th>性别</th>
          <th class="text-nowrap">年龄</th>
          <th class="text-center">工作经验</th>
          <th class="text-nowrap">学历</th>
          <th>学校</th>
          <th>专业</th>
          <th>最近就职公司</th>
          <th>最近职位</th>
          <th class="text-center text-nowrap">相关度</th>
          <th>刷新时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableTpl.data">
          <td>
            <a [routerLink]="['/fullscreen/resume/view', data.id]" target="_blank" class="text-nowrap">{{ data.name }}</a>
          </td>
          <td>{{ data.sex }}</td>
          <td>
            {{ data.age }}
          </td>
          <td class="text-center">
            <!-- 如果存在工作时间  2013-03-09  则表示有工作经验，如果没有工作时间，则显示 无经验 -->
            <!-- <ng-container *ngIf="countYears('2013-03-09') >= 1">{{countYears('2013-03-09')}}年</ng-container>
            <ng-container *ngIf="countYears('2013-03-09') < 1">1年以内</ng-container> -->
            {{ data.work_date }}
          </td>
          <td>{{ data.edu.level }}</td>
          <td>{{ data.edu.name }}</td>
          <td>{{ data.edu.major }}</td>
          <td>{{ data.work?.name }}</td>
          <td>{{ data.work?.position_name }}</td>
          <td class="text-danger text-center">{{ data.correlation }}%</td>
          <td>{{ data.updated_at }}</td>
        </tr>
      </tbody>
    </nz-table>
</div>
