<div class="question_modal_wrapper">
    <div class="body__content_box">
        <div class="clearfix">
            <div class="apply_oper_wrapper float-left">
                <div class="oper_list">
                    <ng-container *ngFor="let menu of menus">
                        <div class="oper_item point d-flex align-items-center border-radius-sm"
                            (click)="viewStatus(menu.id)" [class.current_status_active]="status_menu === menu.id">
                            <span class="d-inline-block icon_item notice_icon"
                                [ngStyle]="{'background-image': status_menu === menu.id ? 'url(' + menu.select_icon + ')' : 'url(' + menu.icon + ')' }"></span>
                            <span class="oper_item_name ml-sm text-lg">{{ menu.name }}</span>
                        </div>
                    </ng-container>
                </div>
                <div class="notice_steps_wrapper">
                    <app-sub-title-show [title]="'招考流程'"></app-sub-title-show>
                    <nz-card class="status_body">
                        <!-- <ng-container *ngIf="steps.length !== 0">
                            <nz-steps nzProgressDot nzDirection="vertical">
                                <ng-container *ngFor="let step of steps">
                                    <nz-step [nzTitle]="step.name" nzStatus="finish"></nz-step>
                                </ng-container>
                            </nz-steps>
                        </ng-container> -->
                        <ul class="flow_steps">
                            <ng-container *ngFor="let step of steps">
                                <li class="step_item clearfix text-primary">
                                    <span class="float-left step_item_icon"><i nz-icon nzType="caret-right"
                                            nzTheme="outline"></i></span>
                                    <span class="step_item_text float-left text-md">{{ step.name }}</span>
                                </li>
                            </ng-container>
                        </ul>

                    </nz-card>
                </div>
            </div>
            <div class="details_content_wrapper float-right bg-white border-radius-sm">
                <ng-container *ngIf="!loading; else loadingTpl">
                    <ng-container *ngIf="dataInfo">
                        <h2 class="details_title text-center text-666 text-lg py-sm">{{ dataInfo.title }}</h2>
                        <div class="text-grey description_box" [innerHTML]="dataInfo.content | safeHtml"></div>
                    </ng-container>
                    <ng-container *ngIf="!dataInfo">
                        <h2 class="details_title text-center text-666 text-lg py-sm">当前考试无公告信息</h2>
                    </ng-container>
                </ng-container>
                <ng-template #loadingTpl>
                    <div class="text-center py-lg">
                        <nz-spin nzSimple></nz-spin>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>