@import './../../../../../styles/base-color.less';

.question_modal_wrapper {
    padding: 40px 0 30px;
    background-color: #F0F0F0;
    .apply_oper_wrapper {
        width: 300px;
        .oper_list {
            .oper_item {
                width: 100%;
                height: 40px;
                padding-left: 100px;
                margin-bottom: 10px;
                border: 1px solid @primary-color;
                background-color: @white-color;
                .icon_item {
                    width: 22px;
                    height: 22px;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
                .notice_icon {
                    background-image: url('/assets/imgs/icon/icon_btnnote.png');
                }
                .apply_icon {
                    background-image: url('/assets/imgs/icon/icon_btnapply.png');
                }
                .print_icon {
                    background-image: url('/assets/imgs/icon/icon_btnprint.png');
                }
                .inside_icon {
                    background-image: url('/assets/imgs/icon/icon_btnpass.png');
                }
                .interview_icon {
                    background-image: url('/assets/imgs/icon/icon_btnmessage.png');
                }
                .result_search_icon {
                    background-image: url('/assets/imgs/icon/icon_btnresult.png');
                }
                .healthy_icon {
                    background-image: url('/assets/imgs/icon/icon_btnbody.png');
                }
                .employment_results_icon {
                    background-image: url('/assets/imgs/icon/icon_btnuse.png');
                }

                .oper_item_name {
                    color: @primary-color;
                }

                &:hover {
                    background-color: @primary-color;
                    
                    .notice_icon {
                        background-image: url('/assets/imgs/icon/icon_btnnote_mouseover.png');
                    }
                    .apply_icon {
                        background-image: url('/assets/imgs/icon/icon_btnapply_mouseover.png');
                    }
                    .print_icon {
                        background-image: url('/assets/imgs/icon/icon_btnprint_mouseover.png');
                    }
                    .inside_icon {
                        background-image: url('/assets/imgs/icon/icon_btnpass_mouseover.png');
                    }
                    .interview_icon {
                        background-image: url('/assets/imgs/icon/icon_btnmessage_mouseover.png');
                    }
                    .result_search_icon {
                        background-image: url('/assets/imgs/icon/icon_btnresult_mouseover.png');
                    }
                    .healthy_icon {
                        background-image: url('/assets/imgs/icon/icon_btnbody_mouseover.png');
                    }
                    .employment_results_icon {
                        background-image: url('/assets/imgs/icon/icon_btnuse_mouseover.png');
                    }
                    .oper_item_name {
                        color: @white-color;
                    }
                }
            }
            .current_status_active {
                background-color: @primary-color;
                
                .notice_icon {
                    background-image: url('/assets/imgs/icon/icon_btnnote_mouseover.png');
                }
                .apply_icon {
                    background-image: url('/assets/imgs/icon/icon_btnapply_mouseover.png');
                }
                .print_icon {
                    background-image: url('/assets/imgs/icon/icon_btnprint_mouseover.png');
                }
                .inside_icon {
                    background-image: url('/assets/imgs/icon/icon_btnpass_mouseover.png');
                }
                .interview_icon {
                    background-image: url('/assets/imgs/icon/icon_btnmessage_mouseover.png');
                }
                .result_search_icon {
                    background-image: url('/assets/imgs/icon/icon_btnresult_mouseover.png');
                }
                .healthy_icon {
                    background-image: url('/assets/imgs/icon/icon_btnbody_mouseover.png');
                }
                .employment_results_icon {
                    background-image: url('/assets/imgs/icon/icon_btnuse_mouseover.png');
                }
                .oper_item_name {
                    color: @white-color;
                }
            }
        }

        .notice_steps_wrapper {
            margin-top: 35px;

            .status_body {
                margin-top: 20px;
            }
        }
    }
    .details_content_wrapper {
        width: 940px;
        min-height: 300px;
        padding: 30px 50px;
        
    }
}


:host ::ng-deep {
    .status_body {
        .ant-card-body {
            padding: 10px;
            padding-bottom: 0;
        }
    }

    .ant-steps-item-content {
        width: 250px;
        height: 36px;
        min-height: 36px;
        .ant-steps-item-description {
            height: 0;
            padding: 0;
        }
    }

    .ant-steps-item {
        & > .ant-steps-item-container > .ant-steps-item-tail::after {
            background-color: #BFC1C4;
        }
        & >.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
            color: #808E9A;
            margin-top: -4px;
        }
        &>.ant-steps-item-container {
            margin-bottom: 10px;
            border-bottom: 1px solid #f0f0f0;
            margin-left: -10px;
            margin-right: -10px;
            padding-left: 10px;
        }
        &:last-child {
            &>.ant-steps-item-container {
                margin-bottom: 0;
            } 
        }
    }
    .ant-steps-item-finish,
    .ant-steps-item-process {
        & >.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
            color: @primary-color;
        }
    }
    .ant-steps-item-finish {
        & > .ant-steps-item-container > .ant-steps-item-tail::after {
            background-color:  @primary-color!important;
        }
    }
    .ant-steps-vertical.ant-steps-dot .ant-steps-item-icon {
        margin-top: 2px;
    }

    .ant-steps-dot .ant-steps-item-icon,
    .ant-steps-dot.ant-steps-small .ant-steps-item-icon,
    .ant-steps-dot .ant-steps-item-process .ant-steps-item-icon,
    .ant-steps-dot.ant-steps-small .ant-steps-item-process .ant-steps-item-icon {
        width: 16px;
        height: 16px;
    }

    .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
        background-color: #BFC1C4;
    }
    .ant-steps-vertical.ant-steps-dot .ant-steps-item-process .ant-steps-icon-dot {
        left: 0;
        top: 0;
    }

    .ant-steps-vertical>.ant-steps-item>.ant-steps-item-container>.ant-steps-item-tail::after {
        width: 4px;
        margin-left: 15px;
    }

    .ant-steps-vertical.ant-steps-dot .ant-steps-item>.ant-steps-item-container>.ant-steps-item-tail {
        padding: 12px 0 0;
    }

}