<div class="question_modal_wrapper">
    <div class="body__content_box">
        <div class="clearfix">
            <div class="apply_oper_wrapper float-left">
                <div class="oper_list">
                    <div class="oper_item point d-flex align-items-center border-radius-sm"
                        (click)="viewStatus(1)" [class.current_status_active]="status_menu === 1"
                    >
                        <span class="d-inline-block icon_item notice_icon"></span>
                        <span class="oper_item_name ml-sm text-lg">招考公告</span>
                    </div>
                    <div class="oper_item point d-flex align-items-center border-radius-sm"
                        (click)="viewStatus(2)" [class.current_status_active]="status_menu === 2"
                    >
                        <span class="d-inline-block icon_item apply_icon"></span>
                        <span class="oper_item_name ml-sm text-lg">报名入口</span>
                    </div>
                    <div class="oper_item point d-flex align-items-center border-radius-sm"
                        (click)="viewStatus(3)" [class.current_status_active]="status_menu === 3"
                    >
                        <span class="d-inline-block icon_item print_icon"></span>
                        <span class="oper_item_name ml-sm text-lg">打印准考证</span>
                    </div>
                    <div class="oper_item point d-flex align-items-center border-radius-sm"
                        (click)="viewStatus(4)" [class.current_status_active]="status_menu === 4"
                    >
                        <span class="d-inline-block icon_item inside_icon"></span>
                        <span class="oper_item_name ml-sm text-lg">入围通知</span>
                    </div>
                    <div class="oper_item point d-flex align-items-center border-radius-sm"
                        (click)="viewStatus(5)" [class.current_status_active]="status_menu === 5"
                    >
                        <span class="d-inline-block icon_item interview_icon"></span>
                        <span class="oper_item_name ml-sm text-lg">面试公告</span>
                    </div>
                    <div class="oper_item point d-flex align-items-center border-radius-sm"
                        (click)="viewStatus(6)" [class.current_status_active]="status_menu === 6"
                    >
                        <span class="d-inline-block icon_item result_search_icon"></span>
                        <span class="oper_item_name ml-sm text-lg">成绩查询</span>
                    </div>
                    <div class="oper_item point d-flex align-items-center border-radius-sm"
                        (click)="viewStatus(7)" [class.current_status_active]="status_menu === 7"
                    >
                        <span class="d-inline-block icon_item healthy_icon"></span>
                        <span class="oper_item_name ml-sm text-lg">体检公告</span>
                    </div>
                    <div class="oper_item point d-flex align-items-center border-radius-sm"
                        (click)="viewStatus(8)" [class.current_status_active]="status_menu === 8"
                    >
                        <span class="d-inline-block icon_item employment_results_icon"></span>
                        <span class="oper_item_name ml-sm text-lg">录用结果显示</span>
                    </div>
                </div>
                <div class="notice_steps_wrapper">
                    <app-sub-title-show [title]="'报名流程'"></app-sub-title-show>
                    <nz-card class="status_body">
                        <nz-steps [nzCurrent]="step" nzProgressDot nzDirection="vertical">
                            <nz-step nzTitle="网上报名"></nz-step>
                            <nz-step nzTitle="笔试"></nz-step>
                            <nz-step nzTitle="资格审查"></nz-step>
                            <nz-step nzTitle="面试"></nz-step>
                            <nz-step nzTitle="体检"></nz-step>
                            <nz-step nzTitle="公示"></nz-step>
                            <nz-step nzTitle="聘用"></nz-step>
                        </nz-steps>
                
                    </nz-card>
                </div>
            </div>
            <div class="details_content_wrapper float-right bg-white border-radius-sm">
                <ng-container *ngIf="!loading; else loadingTpl">
                    <h2 class="details_title text-center text-666 text-lg py-sm">{{ dataInfo.title }}</h2>
                    <div class="text-grey" [innerHTML]="dataInfo.content | safeHtml"></div>
                </ng-container>
                <ng-template #loadingTpl>
                    <div class="text-center py-lg">
                        <nz-spin nzSimple></nz-spin>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
