<div class="body__content_box pt-lg">
    <div class="content_body">

        <h2 class="text-xl text-center font-weight-bold text-666 mt-lg">成都天府新区人力资源开发服务有限公司</h2>
        <h3 class="text-lg text-center font-weight-bold text-666">联系我们</h3>

        <!-- <div nz-row class="mt-lg pt-lg">
            <div nz-col nzSpan="8" nzOffset="2" class="link_title mb-md text-lg">
                <div class="text-grey">人才服务部</div>
            </div>
            <div nz-col nzSpan="12" class="link_info text-md mb-md">
                <div class="text-666"><span class="mr-lg">招聘咨询</span> <span>028-80205178</span></div>
                <div class="text-666"><span class="mr-lg">招考咨询</span> <span>028-80205178</span></div>
            </div>

            <div nz-col nzSpan="8" nzOffset="2" class="link_title mb-md text-lg">
                <div class="text-grey">人事代理部</div>
            </div>
            <div nz-col nzSpan="12" class="link_info text-md mb-md">
                <div class="text-666"><span class="mr-lg">档案咨询</span> <span>028-62526678</span></div>
                <div class="text-666"><span class="mr-lg">外包咨询</span> <span>028-62526696-7777</span></div>
                <div class="text-666"><span class="mr-lg">派遣咨询</span> <span>028-62526778-8887</span></div>
            </div>

            <div nz-col nzSpan="8" nzOffset="2" class="link_title mb-md text-lg">
                <div class="text-grey">数据与信息技术中心</div>
            </div>
            <div nz-col nzSpan="12" class="link_info text-md mb-md">
                <div class="text-666"><span class="mr-lg">联系电话</span> <span>028-80518071-863</span></div>
            </div>
            
            <div nz-col nzSpan="8" nzOffset="2" class="link_title mb-md text-lg">
                <div class="text-grey">客服QQ（天府菁英）</div>
            </div>
            <div nz-col nzSpan="12" class="link_info text-md mb-md">
                <div class="text-666"><span class="mr-lg">代理服务群号</span> <span>609554767</span></div>
                <div class="text-666"><span class="mr-lg">培训服务群号</span> <span>259974487</span></div>
                <div class="text-666"><span class="mr-lg">招聘服务群号</span> <span>882635937</span></div>
            </div>
        </div> -->

    </div>

</div>