<div class="resume-show_sub_content_box">
    <div class="resume-show-sub-title-box">
        <app-sub-title-show [title]="'项目经历'"></app-sub-title-show>
        <div class="edit-box">
            <nz-divider [nzText]="rightTextTpl" nzOrientation="right" nzDashed></nz-divider>
            <ng-template #rightTextTpl>
                <div class="text-sm text-primary point" (click)="add()">
                    <i class="text-md" nz-icon nzType="plus" nzTheme="outline"></i>
                    新增
                </div>
            </ng-template>
        </div>
    </div>

    <div class="resume-show_content_body my-sm py-sm px-md">
        <div *ngIf="list.length !== 0; else notExpTpl">
            <ng-container *ngFor="let item of list">
                <div class="item_card_box mb-md">
                    <div class="item_card_title_box">
                        <h4 class="item_title_name bg-white text-666 font-weight-bold text-md">资阳希望玫瑰园项目</h4>
                        <nz-divider class="item_title_divider" nzDashed></nz-divider>
                        <div class="item_oper_box bg-white">
                            <span class="text-sm text-primary point" (click)="edit(item)">
                                <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i>
                                编辑
                            </span>
                            <span class="ml-md text-sm text-danger point" (click)="deleted(item)">
                                <i class="text-md" nz-icon nzType="delete" nzTheme="outline"></i>
                                删除
                            </span>
                        </div>
                    </div>
                    <div class="item_card_body text-grey">
                        <div class="text-sm">
                            <p>2015.09 - 2018.06</p>
                            <div class="text-666 mt-sm">责任描述：</div>
                            <div>
                                该项目的招标采购部负责人,及项目的整体协调。
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <ng-template #notExpTpl>
            <div class="text-grey text-md">暂无项目经历</div>
        </ng-template>
        
    </div>
</div>