<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>证书名称</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请输入获得证书的名称">
            <input nz-input formControlName="certificateName" placeholder="请输入获得证书的名称" type="text" nzSize="large" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>获得时间</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请选择获得时间">
            <app-date-picker-month formControlName="certificateDate" [placeholder]="'请点击选择证书获得时间'" [size]="'large'"></app-date-picker-month>
        </nz-form-control>
    </nz-form-item>
    
    <div class="modal-oper_btn_box d-flex justify-content-around align-items-center">
        <button nz-button nzSize="large" nzType="default" (click)="cancel($event)">取 消</button>
        <button nz-button nzSize="large" [nzLoading]="loading" nzType="primary">保 存</button>
    </div>

</form>