<div class="search__wrapper">
    <div class="body__content_box">
        <div class="search-content_wraper d-flex align-items-center">
            <app-layout-full-search (searchOptionChange)="searchOptionChange($event)"></app-layout-full-search>
        </div>
    </div>
</div>
<div class="company_info_wrapper py-lg">
    <div class="body__content_box">
        <ng-container *ngIf="info && !loading; else loadingTpl">
            <div class="company_info_body d-flex justify-content-start align-items-center">
                <div class="company_logo_box d-flex justify-content-center align-items-center">
                    <img [src]="environment.SERVER_URL + '/' + info.logo" alt="公司logo">
                </div>

                <div class="company_base_info flex-1">
                    <h3 class="text-lg text-666">{{ info.name }}</h3>
                    <p class="py-sm text-md text-grey">
                        {{ info.industry.name }}
                        <nz-divider nzType="vertical"></nz-divider>
                        {{ info.type.value }}
                        <nz-divider nzType="vertical"></nz-divider>
                        {{ info.scale.value }}
                    </p>
                    <!-- <p class="company_sub_des text-sm text-grey-dark mb-sm" [innerHTML]="info.description | showTextAreaText"></p> -->

                    <div class="company_position_total_box clearfix">
                        <div class="float-left">
                            <p class="text-primary text-lg text-center">{{ info.job_sum }}</p>
                            <p class="text-grey text-sm text-center">招聘职位</p>
                        </div>
                        <div class="float-left ml-lg">
                            <p class="text-primary text-lg text-center">{{ loginDate(info.login_at) }}</p>
                            <p class="text-grey text-sm text-center">最近登陆</p>
                        </div>
                    </div>

                </div>

            </div>
        </ng-container>
    </div>
</div>

<div class="company_info_des_wapper">
    <div class="body__content_box">
        <ng-container *ngIf="info && !loading; else loadingTpl">
            <div class="company_info_body bg-white">
                <nz-tabset>
                    <nz-tab nzTitle="公司主页">
                        <app-company-home [description]="info.description"></app-company-home>
                    </nz-tab>
                    <nz-tab [nzTitle]="recruit">
                        <ng-template #recruit>
                            <span>招聘职位</span>
                            <span class="badge_count text-md bg-primary border-radius-sm text-white px-xs ml-sm">{{ info.job_sum }}</span>
                        </ng-template>

                        <app-recruit-positions [companyId]="companyId"></app-recruit-positions>
                    </nz-tab>
                </nz-tabset>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #loadingTpl>
    <div class="loading_data_spin bg-white">
        <nz-spin nzSimple></nz-spin>
    </div>
</ng-template>