.user-register {
    width: 500px;
    height: 400px;
    // padding-top: 60px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 20px 30px;
    border-radius: 8px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .form-box {
        width: 400px;
        margin: 50px auto 0;

        nz-form-label {
            height: 40px;
        }

        .code-btn-box {
            width: 120px;
            height: 28px;
            border-left: 1px solid #BFC1C4;
        }

        .login-form-remember {
            padding-top: 20px;
        }

        .login-form-button {
            margin: 30px 50px 0;
            width: 300px;
        }
    }
}