<!-- <nz-range-picker style="width: 100%;" [nzFormat]="dateFormat" [nzSize]="size"></nz-range-picker> -->
<div nz-row nzGutter="16">
    <div nz-col [nzSpan]="!isNow ? 12 : (is_now ? 18 : 9)">
        <nz-month-picker [(ngModel)]="start_month" [nzDisabled]="isDisabled" (ngModelChange)="valueChanges()" [nzDisabledDate]="disabledDateStart" [nzFormat]="monthFormat" [nzPlaceHolder]="placeholder[0]" [nzSize]="size"></nz-month-picker>
    </div>
    <div nz-col [nzSpan]="!isNow ? 12 : (is_now ? 0 : 9)" *ngIf="!is_now || !isNow">
        <nz-month-picker [(ngModel)]="end_month" [nzDisabled]="isDisabled" (ngModelChange)="valueChanges()" [nzDisabledDate]="disabledDateEnd" [nzFormat]="monthFormat" [nzPlaceHolder]="placeholder[1]" [nzSize]="size"></nz-month-picker>
    </div>
    <div nz-col [nzSpan]="6" class="text-right" *ngIf="isNow">
        <label class="checkbox_24" style="line-height: 40px;" nz-checkbox [(ngModel)]="is_now" [nzDisabled]="isDisabled" (ngModelChange)="valueChanges()">至今</label>
    </div>
</div>

