<div class="bg-white">
  <nz-affix>
    <app-layout-header [isEntranceModal]="isEntranceModal" [sourceTarget]="'recruit'"></app-layout-header>
  </nz-affix>
  <section class="alain-default__content">
    <router-outlet></router-outlet>
  </section>

  <app-layout-footer></app-layout-footer>
</div>

<!-- 返回顶部 -->
<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
  <ng-template #tpl>
    <div class="ant-back-top-inner">返回顶部</div>
  </ng-template>
</nz-back-top>

<!-- 用户首次登录网站首页时，选择即将访问的是招聘还是招考站点 -->
<nz-modal nzWrapClassName="vertical-center-modal" [nzClassName]="'nav_modal_wrapper'" [(nzVisible)]="isVisible"
  [nzTitle]="''" [nzFooter]="null" [nzBodyStyle]="{ padding: '30px'}" nzWidth="555" (nzOnCancel)="close()"
  [nzMaskClosable]="false">
  <div>
    <p class="text-grey pb-md text-lg">您即将跳转到...</p>

    <div class="clearfix">
      <div (click)="toZp()" class="nav_box_item point border-radius-sm float-left">
        <div class="nav_box_item_title">
          <img src="./assets/imgs/icon/text_recruit.png" alt="">
        </div>
        <div class="nav_box_item_icon_zp">
          <img src="./assets/imgs/icon/icon_recruit85.png" alt="">
        </div>
      </div>
      <div (click)="toZk()" class="nav_box_item point border-radius-sm float-right">
        <div class="nav_box_item_title">
          <img src="./assets/imgs/icon/text_exam.png" alt="">
        </div>
        <div class="nav_box_item_icon_zk">
          <img src="./assets/imgs/icon/icon_exam85.png" alt="">
        </div>
      </div>
    </div>
  </div>
</nz-modal>