<div class="wechat-account_wrap">
    <div class="wechat-account d-flex justify-content-center align-items-center point" nz-dropdown [nzDropdownMenu]="wechatMenu">
        <div class="wechat-icon"><i nz-icon nzType="wechat" nzTheme="outline"></i></div>
        <div class="text-md">微信公众号</div>
    </div>

    <nz-dropdown-menu #wechatMenu="nzDropdownMenu">
        <div class="wechat-image-box">
            <div class="wechat-image-qr">
                <img src="/assets/imgs/test/qr_code.jpg" alt="微信公众号">
            </div>
            <p class="text-center text-xs">扫码二维码</p>
            <p class="text-center text-xs">关注天府菁英公众号</p>
        </div>
    </nz-dropdown-menu>
    
</div>