.form-box {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;

    nz-form-label {
        height: 40px;
    }
    
    .code-btn-box {
        width: 120px;
        height: 28px;
        border-left: 1px solid #BFC1C4;
    }

    .login-form-agree {
        padding-top: 20px;
    }
    
    .login-form-button {
        width: 220px;
    }
}

.text_area_count_limit {
    position: relative;

    .limit_count {
        position: absolute;
        right: 8px;
        bottom: 0;
    }
}