<nz-alert *ngIf="companyInfo && companyInfo.status === 2" [nzType]="'error'" [nzMessage]="companyInfo.note ? companyInfo.note : '审核未通过，请重新填写'" [nzShowIcon]="true" class="mb-sm"></nz-alert>
<app-sub-title-show [title]="'公司信息'"></app-sub-title-show>
<div class="form-box">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="companyname">公司名称</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请输入公司营业执照上的全称">
                <input nz-input formControlName="companyname" id="companyname" placeholder="请输入公司营业执照上的全称" nzSize="large" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="or_code">组织机构代码</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请输入公司营业执照上的组织机构代码">
                <input nz-input formControlName="or_code" id="or_code" placeholder="请输入公司营业执照上的组织机构代码" nzSize="large" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" [nzRequired]="!validateForm.controls['is_not_end'].value" nzFor="end_date">有效期至</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请点击选择有效期时间">
                <!-- <app-date-picker-date ngDefaultcontrol formControlName="end_date" [placeholder]="'请点击选择有效期时间'"></app-date-picker-date> -->
                <div nz-row [nzGutter]="8">
                    <div nz-col [nzSpan]="18">
                        <app-date-picker-date ngDefaultcontrol formControlName="end_date" [placeholder]="'请点击选择有效期时间'"></app-date-picker-date>
                    </div>
                    <div nz-col [nzSpan]="6" class="text-right agree_box">
                        <label class="checkbox_24" nz-checkbox formControlName="is_not_end" nzSize="large" (ngModelChange)="isNotEndChange($event)">永久</label>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="cascader">所在地区</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请点击选择地区">
                <app-three-stage-cascader ngDefaultcontrol formControlName="cascader" [placeholder]="'请点击选择地区'"></app-three-stage-cascader>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="address">详细地址</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请输入公司的详细地址">
                <input nz-input formControlName="address" id="address" placeholder="请输入公司的详细地址" nzSize="large" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="nature">单位性质</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请点击选择单位性质">
                <nz-select nzShowSearch  formControlName="nature" id="nature" nzPlaceHolder="请点击选择单位性质" nzSize="large">
                    <ng-container *ngFor="let item of settingService.companyConfigOptions.company_type">
                        <nz-option [nzLabel]="item.value" [nzValue]="item.id"></nz-option>
                    </ng-container>
                  </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="scale">企业规模</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请点击选择企业规模">
                <nz-select nzShowSearch  formControlName="scale" id="scale" nzPlaceHolder="请点击选择企业规模" nzSize="large">
                    <ng-container *ngFor="let item of settingService.companyConfigOptions.company_scale">
                        <nz-option [nzLabel]="item.value" [nzValue]="item.id"></nz-option>
                    </ng-container>
                  </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="industry">单位行业</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请点击选择单位行业">
                <nz-select nzShowSearch  formControlName="industry" id="industry" nzPlaceHolder="请点击选择单位行业" nzSize="large">
                    <ng-container *ngFor="let item of settingService.globalConfigOptions.industry">
                        <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </ng-container>
                  </nz-select>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="license_photo">营业执照</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请上传营业执照">
                <!-- <app-upload-file-photo ngDefaultControl formControlName="license_photo" [placeHolder]="'上传营业执照'" [Size]="'large'"></app-upload-file-photo> -->
                <app-upload-photo-file-tpl ngDefaultControl formControlName="license_photo" [placeHolder]="'图片大小2M以内，支持jpg，png，gif等格式'" [Size]="'large'" [isPhoto]="false"></app-upload-photo-file-tpl>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="logo">公司LOGO</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请上传公司LOGO">
                <!-- <app-upload-logo ngDefaultControl formControlName="logo" [placeHolder]="'上传LOGO'" [Size]="'large'"></app-upload-logo> -->
                <app-upload-photo-file-tpl ngDefaultControl formControlName="logo" [placeHolder]="'图片大小2M以内，支持jpg，png，gif等格式'" [Size]="'large'" [isPhoto]="false"></app-upload-photo-file-tpl>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="description">公司简介</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请上传公司简介， 内容长度小于2000个字符">
                <div class="text_area_count_limit">
                    <textarea nz-input id="description" formControlName="description" placeholder="请输入内容" [nzAutosize]="{ minRows: 8, maxRows: 20 }"></textarea>
                    <div class="limit_count text-grey" [class.text-danger]="getTextareaLength > 2000">{{ getTextareaLength }} / 2000</div>
                </div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <div nz-col nzSpan="24">
                <app-sub-title-show [title]="'公司联系人'"></app-sub-title-show>
            </div>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="user_name">姓名</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请输入联系人姓名">
                <input nz-input formControlName="user_name" id="user_name" placeholder="请输入联系人姓名" nzSize="large" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="user_phone">联系人手机</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请输入联系人手机号码">
                <input nz-input formControlName="user_phone" id="user_phone" placeholder="请输入联系人手机号码" nzSize="large" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzRequired nzFor="check_number">手机验证码</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请输入收到的验证码">
                <nz-input-group [nzSuffix]="suffixCode" nzSize="large">
                    <input type="text" formControlName="check_number" nz-input placeholder="验证码" />
                </nz-input-group>
                <ng-template #suffixCode>
                    <div class="code-btn-box text-center">
                        <a *ngIf="!isGetCode" (click)="getCaptcha($event)" [disabled]="get_captcha_loading || isGetCode" nz-button nzType="link" class="btn_code_link">获取验证码</a>
                        <!-- <span *ngIf="!isGetCode" (click)="getCaptcha($event)" class="text-primary text-md point">获取验证码</span> -->
                        <span *ngIf="isGetCode" class="text-primary text-md">{{ count }}s</span>
                    </div>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzFor="zj_tel">座机号码</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请输入座机号码">
                <input nz-input formControlName="zj_tel" id="zj_tel" placeholder="请输入座机号码" nzSize="large" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" [nzSpan]="6" nzFor="user_email">邮箱地址</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="请输入邮箱地址">
                <input nz-input formControlName="user_email" id="user_email" placeholder="请输入邮箱地址" type="email" nzSize="large" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="18" nzOffset="6">
                <!-- <div class="d-flex justify-content-around">
                    <button nz-button nzType="primary" class="login-form-button" nzSize="large">下一步</button>
                    <button (click)="prev()" nz-button nzType="default" class="login-form-button" nzSize="large">返回上一步</button>
                </div> -->
                <button nz-button nzType="primary" class="login-form-button" nzSize="large" [nzLoading]="loading">下一步</button>
            </nz-form-control>
        </nz-form-item>
    </form>

</div>