<div class="status_modal_body">
    <div class="steps_wrapper" *ngIf="data; else loadingTpl">
        <nz-steps [nzCurrent]="step" nzSize="large" nzDirection="horizontal" [nzProgressDot]="nzProgressDot">
            <nz-step [nzTitle]="successTpl">
                <ng-template #successTpl>
                    <div class="text_grey" [class.text-primary]="step === 0">投递成功</div>
                    <p class="text_grey_dark" [class.text-primary]="step === 0">{{ data.created_at }}</p>
                </ng-template>
            </nz-step>
            <nz-step [nzTitle]="viewedTpl">
                <ng-template #viewedTpl>
                    <div class="text_grey" [class.text-primary]="step === 1">HR查看</div>
                    <p class="text_grey_dark" [class.text-primary]="step === 1">{{ data.updated_at }}</p>
                </ng-template>
            </nz-step>
            <nz-step [nzTitle]="inviteTpl">
                <ng-template #inviteTpl>
                    <div class="text_grey" [class.text-primary]="step === 2">面试邀请</div>
                    <p class="text_grey_dark" [class.text-primary]="step === 2">{{ info?.interview_time }}</p>
                </ng-template>
            </nz-step>

        </nz-steps>
        <div class="steps-content">
            <div class="pt-lg">
                <ng-container *ngIf="step !== 2">
                    <div class="d-flex body_item_list text-md">
                        <div class="label_title text-666">职位名称</div>
                        <div class="value_box flex-1">
                            <span class="text-grey">{{ data.companyJob.name }}</span>
                            <a [routerLink]="['/recruit/details', data.companyJob.id]" target="_blank" class="view_link link_hover text-sm ml-md point text-primary border-radius-sm px-sm">职位详情</a>
                        </div>
                    </div>
                    <div class="d-flex body_item_list text-md">
                        <div class="label_title text-666">公司名称</div>
                        <div class="value_box flex-1">
                            <span class="text-grey">{{ data.companyInfo.name }}</span>
                            <a [routerLink]="['/company']" [queryParams]="{cid: data.companyInfo.id }" target="_blank" class="view_link link_hover text-sm ml-md point text-primary border-radius-sm px-sm">公司主页</a>
                        </div>
                    </div>
                    <div class="d-flex body_item_list text-md">
                        <div class="label_title text-666">工作地点</div>
                        <div class="value_box flex-1">
                            <span class="text-grey">{{ data.companyInfo.city }}-{{ data.companyInfo.area }}</span>
                        </div>
                    </div>
                    <div class="d-flex body_item_list text-md">
                        <div class="label_title text-666">薪资</div>
                        <div class="value_box flex-1">
                            <span class="text-danger">{{ data.companyJob.salary }}/月</span>
                        </div>
                    </div>
                    <div class="d-flex body_item_list text-md">
                        <div class="label_title text-666">投递时间</div>
                        <div class="value_box flex-1">
                            <span class="text-grey">{{ data.created_at }}</span>
                        </div>
                    </div>
                    <div class="d-flex body_item_list text-md">
                        <div class="label_title text-666">简历投递</div>
                        <div class="value_box flex-1">
                            <span class="text-grey">{{ data.resume.name }}</span>
                            <a [routerLink]="['/fullscreen/resume/view', data.resume.id]" target="_blank" class="view_link link_hover text-sm ml-md point text-primary border-radius-sm px-sm">查看简历</a>
                        </div>
                    </div>
                    <div class="d-flex body_item_list text-md" *ngIf="step === 1">
                        <div class="label_title text-666">被查看时间</div>
                        <div class="value_box flex-1">
                            <span class="text-grey">{{ data.updated_at }}</span>
                        </div>
                    </div>
                    <div class="d-flex body_item_list text-md">
                        <div class="label_title text-666">投递进展</div>
                        <div class="value_box flex-1">
                            <span
                                [class.text-grey]="step === 0"
                                [class.text-primary]="step === 1">
                                <ng-container *ngIf="step === 0">投递成功</ng-container>
                                <ng-container *ngIf="step === 1">简历已被HR查看</ng-container>
                            </span>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="step === 2">
                    <ng-container *ngIf="info && !loading; else loadingTpl">
                        <div class="d-flex body_item_list text-md">
                            <div class="label_title text-666">职位名称</div>
                            <div class="value_box flex-1">
                                <span class="text-grey">{{ data.companyJob.name }}</span>
                                <a [routerLink]="['/recruit/details', data.companyJob.id]" target="_blank" class="view_link link_hover text-sm ml-md point text-primary border-radius-sm px-sm">职位详情</a>
                            </div>
                        </div>
                        <div class="d-flex body_item_list text-md">
                            <div class="label_title text-666">公司名称</div>
                            <div class="value_box flex-1">
                                <span class="text-grey">{{ data.companyInfo.name }}</span>
                                <a [routerLink]="['/company']" [queryParams]="{cid: data.companyInfo.id }" target="_blank" class="view_link link_hover text-sm ml-md point text-primary border-radius-sm px-sm">公司主页</a>
                            </div>
                        </div>
                        <div class="d-flex body_item_list text-md">
                            <div class="label_title text-666">面试地址</div>
                            <div class="value_box flex-1">
                                <div class="d-flex justify-content-center">
                                    <span class="flex-1 pr-md">{{ info.site }}</span>
                                    <span (click)="searchAddress()" class="search_by_map link_hover text-center d-inline-block text-primary border-radius-sm point">前往地图</span>
                                </div>
                                <div class="map_show_box">
                                    <app-position-address-map [address]="info.site" [city]="data.companyJob.city + '市'" (addressPositionChange)="addressPositionChange($event)"></app-position-address-map>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex body_item_list text-md">
                            <div class="label_title text-666">面试开始时间</div>
                            <div class="value_box flex-1">
                                <span class="text-grey">
                                    {{ info.time | date: 'fullDate' }} &nbsp;&nbsp;
                                    {{ info.time | date: 'HH:mm:ss' }}
                                </span>
                            </div>
                        </div>
                        <div class="d-flex body_item_list text-md">
                            <div class="label_title text-666">面试邀请内容</div>
                            <div class="value_box flex-1" style="line-height: 26px;margin-top: 8px;">
                                <span class="text-grey" [innerHTML]="info.content | showTextAreaText"></span>
                            </div>
                        </div>
                        <div class="d-flex body_item_list text-md">
                            <div class="label_title text-666">发送时间</div>
                            <div class="value_box flex-1">
                                <span class="text-grey">{{ info.created_at }}</span>
                            </div>
                        </div>
                        
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTpl>
    <div class="loading_box text-center">
        <nz-spin></nz-spin>
    </div>
</ng-template>

<ng-template #nzProgressDot>
    <div class="steps_status border-radius-half"></div>
</ng-template>