<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>外语语种</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请点击选择语种">
            <nz-select formControlName="languageType" nzSize="large" nzPlaceHolder="请点击选择语种">
                <ng-container *ngFor="let item of globalService.resumeConfigOptions.language">
                    <nz-option [nzValue]="item.id" [nzLabel]="item.value"></nz-option>
                </ng-container>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>听说能力</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请选择听说能力">
            <nz-radio-group style="line-height: 40px;" formControlName="languageListen">
                <label nz-radio [nzValue]="'一般'">一般</label>
                <label nz-radio [nzValue]="'良好'">良好</label>
                <label nz-radio [nzValue]="'熟练'">熟练</label>
                <label nz-radio [nzValue]="'精通'">精通</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>读写能力</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="请选择读写能力">
            <nz-radio-group style="line-height: 40px;" formControlName="languageWrite">
                <label nz-radio [nzValue]="'一般'">一般</label>
                <label nz-radio [nzValue]="'良好'">良好</label>
                <label nz-radio [nzValue]="'熟练'">熟练</label>
                <label nz-radio [nzValue]="'精通'">精通</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    
    <div class="modal-oper_btn_box d-flex justify-content-around align-items-center">
        <a nz-button nzSize="large" nzType="default" (click)="cancel($event)">取 消</a>
        <button nz-button nzSize="large" [nzLoading]="loading" nzType="primary">保 存</button>
    </div>

</form>