<div class="content_box pb-md">
    <nz-table #basicTable [nzData]="listOfData" [nzLoading]="loading" nzShowPagination="false">
        <thead>
            <tr>
                <th></th>
                <th>账号名称</th>
                <th>创建时间</th>
                <th>最近登录</th>
                <th>姓名</th>
                <th>使用中</th>
                <th>职位管理权限</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of basicTable.data">
                <td>
                    <ng-container *ngIf="item.online; else offline">
                        <span class="account_status px-xs bg-green text-xs border-radius-sm text-white">在线</span>
                    </ng-container>
                    <ng-template #offline>
                        <span class="account_status px-xs bg-grey-dark text-xs border-radius-sm text-666">离线</span>
                    </ng-template>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.created_at }}</td>
                <td>{{ item.login_at }}</td>
                <td>{{ item.full_name }}</td>
                <td>
                    <nz-switch (click)="setDefaultStatus(item)" [(ngModel)]="item.status" [nzControl]="true" [nzLoading]="defaultItemOption[item.id]" nzCheckedChildren="是" nzUnCheckedChildren="冻结"></nz-switch>
                </td>
                <td>
                    <nz-switch (click)="setPowerAuth(item)" [(ngModel)]="item.job_power" [nzControl]="true" [nzLoading]="powerOption[item.id]" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
                </td>
                <td>
                    <!-- <i (click)="edit(item)" class="text-primary point" nz-icon nzType="edit" nzTheme="outline" nz-tooltip nzTooltipTitle="编辑"></i> -->
                    <div class="oper-list text-center" (click)="edit(item)">
                        <span class="edit"></span>
                        <p class="text-primary text-xs">编辑</p>
                    </div>
                    <!-- <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm
                        nzPopconfirmTitle="是否删除当前账号？"
                        nzOkText="删除" class="text-danger"
                        (nzOnConfirm)="deleted(item)"
                        (nzOnCancel)="cancel()">
                        <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip nzTooltipTitle="删除"></i>
                    </a> -->
                </td>
            </tr>
        </tbody>
    </nz-table>
    <div class="add_account" *ngIf="!loading && listOfData.length < 10">
        <button nz-button nzBlock nzType="dashed" (click)="add()" nzSize="large">
            <span class="text-primary"><i class="mr-sm" nz-icon nzType="plus-circle" nzTheme="outline"></i>新增子账号</span>
        </button>
    </div>
</div>