<nz-table nzShowSizeChanger nzShowQuickJumper [nzData]="listOfData" [nzFrontPagination]="false"
    [nzLoading]="loadingData" [nzTotal]="pageOption.total" [nzPageSize]="pageOption.pageSize"
    [nzPageIndex]="pageOption.pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th nzWidth="600px">职位名</th>
            <th>下载简历</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of listOfData">
            <td class="text-primary">{{ data.default ? '不关联到职位' : data.job.name }}</td>
            <td>
                <a [routerLink]="['/admin/company/resumes/history/download', data.default ? 0 : data.job.id]" target="_blank">{{ data.resume_sum }}</a>
            </td>
            <td>
                <ng-container *ngIf="!data.default">
                    <span [class.text-green]="data.job.status" [class.text-danger]="!data.job.status">
                        {{ data.job.status ? '招聘中' : '已下线' }}
                    </span>
                </ng-container>
                <ng-container *ngIf="data.default">
                    <span class="text-666">默认</span>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>