<div class="resume-show_sub_content_box">
    <div class="resume-show-sub-title-box">
        <app-sub-title-show [title]="'实习经历'"></app-sub-title-show>
        <div class="edit-box">
            <nz-divider [nzText]="rightTextTpl" nzOrientation="right" nzDashed></nz-divider>
            <ng-template #rightTextTpl>
                <div class="text-sm text-primary point" (click)="add()">
                    <i class="text-md" nz-icon nzType="plus" nzTheme="outline"></i>
                    新增
                </div>
            </ng-template>
        </div>
    </div>

    <div class="resume-show_content_body my-sm py-sm px-md">
        <div *ngIf="list.length !== 0; else notExpTpl">
            <ng-container *ngFor="let practice of list">
                <div class="item_card_box mb-md">
                    <div class="item_card_title_box">
                        <h4 class="item_title_name bg-white text-666 font-weight-bold text-md">{{ practice.name }}</h4>
                        <nz-divider class="item_title_divider" nzDashed></nz-divider>
                        <div class="item_oper_box bg-white">
                            <span class="text-sm text-primary point" (click)="edit(practice)">
                                <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i>
                                编辑
                            </span>
                            <a nz-popconfirm nzPopconfirmTitle="您是否确认删除当前实习经历" (nzOnConfirm)="deleted(practice)" (nzOnCancel)="cancel()" class="ml-md text-sm text-danger" nzPopconfirmPlacement="topRight">
                                <i class="text-md" nz-icon nzType="delete" nzTheme="outline"></i>
                                删除
                            </a>
                        </div>
                    </div>
                    <div class="item_card_body text-grey">
                        <div class="text-sm">
                            <p>
                                {{ practice.start_time | date: 'yyyy.MM' }} - 
                                <ng-container *ngIf="practice.end_time !== '至今'">{{ practice.end_time | date: 'yyyy.MM' }}</ng-container>
                                <ng-container *ngIf="practice.end_time === '至今'">至今</ng-container>
                                <nz-divider nzType="vertical"></nz-divider>
                                {{ countMonth(practice.start_time, practice.end_time)}}
                            </p>
                            <p>{{ practice.position }} <nz-divider nzType="vertical"></nz-divider> {{ practice.salary.value }} /月</p>
                            <p>
                                {{ practice.industry.name }}
                                <nz-divider nzType="vertical"></nz-divider>
                                {{ practice.type.value }}
                                <nz-divider nzType="vertical"></nz-divider>
                                {{ practice.scale.value }}
                            </p>
                            <div class="text-666 mt-sm">工作描述：</div>
                            <div [innerHTML]="practice.description | showTextAreaText"></div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <ng-template #notExpTpl>
            <div class="text-grey text-md">暂无实习经历</div>
        </ng-template>
        
    </div>
</div>