<div class="side__position_wrapper border-radius-sm">
    <div class="side__position_title text-md text-666 bg-white">查看历史</div>
    <ng-container *ngIf="settingService.getToken() && settingService.user && settingService.user.type === 'user'; else notLoginTpl">
        <div class="side__position_content" *ngIf="!loadingData && list.length !== 0">
            <ng-container *ngFor="let item of list">
                <div class="position__list bg-white">
                    <a [routerLink]="['/recruit/details', item.job_id]" target="_blank" class="d-block">
                        <div class="position__name text-666 text-truncate text-sm">{{ item.name }}</div>
                        <div class="position__des text-sm">
                            <span class="text-danger">{{ item.salary }}/月</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span class="text-grey">{{ item.province }} - {{ item.city }}</span>
                        </div>
                        <div class="company__name text-grey-dark text-truncate text-sm">{{ item.company_name }}</div>
                    </a>
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="loadingData">
            <div class="loading_data_spin bg-white">
                <nz-spin nzSimple></nz-spin>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #notLoginTpl>
        <div class="text-center p-lg bg-white">未登录或非个人用户</div>
    </ng-template>
</div>