<div class="status_oper_wrapper">

    <div class="position_title_box mt-md mb-sm">
        <app-sub-title-show [title]="'应聘'"></app-sub-title-show>
        <div class="position_title d-flex align-items-center px-sm text-primary" *ngIf="positionInfo">{{ positionInfo?.name }}</div>
    </div>

    <nz-card class="status_body">
        <nz-steps [nzCurrent]="configs.status - 1" nzProgressDot nzDirection="vertical">
            <nz-step nzTitle="待处理" [nzDescription]="dealTpl">
                <ng-template #dealTpl>
                    <ng-container *ngIf="configs.status === 1">
                        <span (click)="dealResume()" class="point oper_btn text-center btn_warning border-radius-sm">不合适</span>
                        <span (click)="nextStepsIn()" class="point oper_btn text-center btn_success border-radius-sm">进入下一阶段</span>
                    </ng-container>
                </ng-template>
            </nz-step>
            <nz-step nzTitle="合适" [nzDescription]="appropriateTpl">
                <ng-template #appropriateTpl>
                    <ng-container *ngIf="configs.status === 2">
                        <span (click)="dealResume()" class="point oper_btn text-center btn_warning border-radius-sm">淘汰</span>
                        <span (click)="nextStepsIn()" class="point oper_btn text-center btn_success border-radius-sm">进入下一阶段</span>
                    </ng-container>
                </ng-template>
            </nz-step>
            <nz-step [nzTitle]="!configs.invite ? '面试' : '已邀请面试' " [nzDescription]="interviewTpl">
                <ng-template #interviewTpl>
                    <ng-container *ngIf="configs.status === 3">
                        <span (click)="dealResume()" class="point oper_btn oper_btn_three text-center btn_warning border-radius-sm">淘汰</span>
                        <ng-container *ngIf="!configs.invite">
                            <span (click)="interviewSend()"
                                class="point oper_btn oper_btn_three text-center btn_primary border-radius-sm">安排面试</span>
                        </ng-container>
                        <span  (click)="nextStepsIn()"
                            class="point oper_btn oper_btn_three text-center btn_success border-radius-sm">进入下一阶段</span>
                    </ng-container>
                </ng-template>
            </nz-step>
            <nz-step nzTitle="Offer" [nzDescription]="offerTpl">
                <ng-template #offerTpl>
                    <ng-container *ngIf="configs.status === 4">
                        <span (click)="dealResume()" class="point oper_btn text-center btn_warning border-radius-sm">拒绝Offer</span>
                        <span (click)="nextStepsIn()" class="point oper_btn text-center btn_success border-radius-sm">进入下一阶段</span>
                    </ng-container>
                </ng-template>
            </nz-step>
            <nz-step nzTitle="入职" [nzDescription]="entryTpl">
                <ng-template #entryTpl>
                    <ng-container *ngIf="configs.status === 5">
                        <span (click)="dealResume()" class="point oper_btn text-center btn_warning border-radius-sm">未到岗</span>
                        <!-- <span (click)="nextStepsIn()" class="point oper_btn text-center btn_success border-radius-sm">已到岗</span> -->
                    </ng-container>
                </ng-template>
            </nz-step>
            <nz-step nzTitle="淘汰" [nzStatus]=" configs.status === 6 ? 'error' : 'wait'">
                <!--
                    [nzDescription]="eliminateTpl"
                    <ng-template #eliminateTpl>
                        <span class="point oper_btn text-center btn_warning border-radius-sm">不合适</span>
                        <span class="point oper_btn text-center btn_success border-radius-sm">进入下一阶段</span>
                    </ng-template>
                -->
            </nz-step>
        </nz-steps>

    </nz-card>
</div>