<div class="wrapper_box" *ngIf="!loading">
    <ng-container *ngFor="let item of list">
        <div class="py-sm text-md item_list">
            <p class="text-666" [innerHTML]="item.note | showTextAreaText"></p>
            <p class="text-right">
                <span class="text-primary">{{ item.company.name }}</span>
                <span class="text-grey">发布于</span>
                <span class="text-primary">{{ item.created_at }}</span>
            </p>
        </div>
    </ng-container>
</div>
<div *ngIf="loading" class="text-center text-lg py-lg">
    <nz-spin nzSimple></nz-spin>
</div>