.body__content_box {
    padding-top: 50px;
    padding-bottom: 20px;
    .resume-show_content_body { // 个人用户预览简历
        width: 800px;
        margin: 0 auto;
    }
    .resume-show_oper_view_body { // 企业用户查看简历
        width: 900px;
    }
    .resume-show_oper_box {
        width: 360px;
        margin-top: -50px;
    }
}

.oper_btn_box {
    a {
        width: 240px;
    }
}

:host ::ng-deep {
    nz-affix {
        .ant-affix {
            height: 100vh!important;
            background-color: #EFEFEF;
            overflow-y: auto;

        }
        
    }
}