.resume-info-view {
    margin-top: 50px;
    margin-bottom: 20px;
    .resume-show_content_body {
        width: 800px;
        margin: 0 auto;

        &>div {
            padding: 12px 20px 0;
        }
        // 显示内容区域 css
        .user-logo {
            width: 100px;
            overflow: hidden;

            .logo_img_box {
                width: 82px;
                height: 82px;
                overflow: hidden;

                &>i {
                    font-size: 44px;
                }
            }
        }

        .user-info {
            width: 700px;
            overflow: hidden;
        }
    }
}

.oper_btn_box {
    a {
        width: 240px;
    }
}