.body__content_box {
    padding-top: 50px;
    padding-bottom: 20px;
    .resume-show_content_body { // 个人用户预览简历
        width: 800px;
        margin: 0 auto;
    }
    .resume-show_oper_view_body { // 企业用户查看简历
        width: 900px;
        position: relative;
        left: 0;
        top: 0;
        .resume_btn_wrapper {
            position: fixed;
            margin-top: 48vh;
            width: 36px;
            height: 36px;
            overflow: hidden;
            border-radius: 50%;
            background-position: center center;
            background-repeat:  no-repeat;
            background-size: contain;
        }
        .prev_btn {
            margin-left: 20px;
            background-image: url('/assets/imgs/icon/icon_btnprevious.png');
            &:hover {
                background-image: url('/assets/imgs/icon/icon_btnprevious_mouseover.png');
            }
        }
        .next_btn {
            margin-left: 860px;
            background-image: url('/assets/imgs/icon/icon_btnnext.png');
            &:hover {
                background-image: url('/assets/imgs/icon/icon_btnnext_mouseover.png');
            }
        }

        .resume_details_content {
            width: 700px;
            margin: 0 auto;
        }
    }
    .resume-show_oper_box {
        width: 360px;
        margin-top: -50px;
    }
}

.oper_btn_box {
    a {
        width: 240px;
    }
}

:host ::ng-deep {
    nz-affix {
        .ant-affix {
            height: 100vh!important;
            background-color: #EFEFEF;
            overflow-y: auto;

        }
        
    }
}