<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item class="mt-md">
        <!-- <nz-form-label [nzSpan]="5" nzFor="self_evalution">自我评价</nz-form-label> -->
        <nz-form-control [nzSpan]="24" nzErrorTip="请填写自我评价">
            <div class="text_area_count_limit">
                <textarea formControlName="self_evalution" nz-input [nzAutosize]="{ minRows: 10,maxRows: 20 }" placeholder="请输入内容"></textarea>
                <div class="limit_count text-grey" [class.text-danger]="getSelfCommentLength > 300">{{ getSelfCommentLength }} / 300</div>
            </div>
        </nz-form-control>
    </nz-form-item>
    
    <div class="modal-oper_btn_box d-flex justify-content-around align-items-center">
        <a nz-button nzSize="large" nzType="default" (click)="cancel($event)">取 消</a>
        <button nz-button nzSize="large" nzType="primary">保 存</button>
    </div>

</form>