<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item class="mt-md">
        <!-- <nz-form-label [nzSpan]="5" nzFor="self_comment">自我评价</nz-form-label> -->
        <nz-form-control [nzSpan]="24" nzErrorTip="请填写自我评价">
            <textarea formControlName="self_comment" nz-input [nzAutosize]="{ minRows: 8, maxRows: 20 }" placeholder="请输入内容"></textarea>
        </nz-form-control>
    </nz-form-item>
    
    <div class="modal-oper_btn_box d-flex justify-content-around align-items-center">
        <button nz-button nzSize="large" nzType="default" (click)="cancel($event)">取消</button>
        <button nz-button nzSize="large" nzType="primary">保存</button>
    </div>

</form>