<ng-container *ngIf="nodes.length !== 0">
    <nz-tree-select
        style="width: 100%"
        class="multiple_tree_select"
        [(ngModel)]="values"
        [nzNodes]="nodes"
        (ngModelChange)="onChange($event)"
        nzShowSearch
        nzCheckable
        [nzPlaceHolder]="placeholder"
        [nzSize]="size"
        [nzDropdownStyle]="{ 'max-height': '300px' }"
        [nzAsyncData]="true"
        [nzDisabled]="isDisabled"
    >
    
    <!-- nzDefaultExpandAll
        [nzExpandedKeys]="expandKeys" (nzExpandChange)="onExpandChange($event)"-->
    </nz-tree-select>

</ng-container>