<nz-card>
    <div class="authentication_box">
        <div class="authentication_status text-center">
            <span class="text-primary text-lg"><i nz-icon nzType="check-circle" nzTheme="outline"></i> 您已完成企业认证</span>
        </div>

        <div class="authentication_form">
            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">公司名称<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>
            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">组织机构代码<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>
            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">有效期至<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>
            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">所在省市<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>
            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">详细地址<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>
            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">单位性质<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>
            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">企业规模<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>
            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">单位行业<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>

            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">营业执照<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>

            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">公司LOGO<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md">
                    lsjdflkajs;ldkfjlaskjdf;lasd
                </div>
            </div>

            <div nz-row class="mb-sm">
                <div nz-col [nzSpan]="6" class="label_text text-md">公司简介<span class="text-danger">*</span></div>
                <div nz-col [nzSpan]="18" class="value_text text-md description">
                    一大段公司简介内容，一大段公司简介内容，一大段公司
                    简介内容，一大段公司简介内容，一大段公司简介内容，
                    一大段公司简介内容，一大段公司简介内容，一大段公司
                    简介内容，一大段公司简介内容，一大段公司简介内容，
                    一大段公司简介内容，一大段公司简介内容，一大段公司
                    简介内容。
                    <br>
                    一大段公司简介内容，一大段公司简介内容，一大段公司
                    简介内容，一大段公司简介内容，一大段公司简介内容，
                    一大段公司简介内容，一大段公司简介内容，一大段公司
                    简介内容，一大段公司简介内容，一大段公司简介内容，
                    一大段公司简介内容，一大段公司简介内容，一大段公司
                    简介内容。
                </div>
            </div>
        </div>
        <div class="refresh_submit text-lg text-white bg-grey border-radius-sm text-center">重新认证（暂不开放）</div>
    </div>
</nz-card>