.authentication_box {
    width: 600px;
    margin: 50px auto;
    // overflow: hidden;
    .authentication_status {
        width: 320px;
        height: 36px;
        line-height: 36px;
        border-radius: 17px;
        background-color: #F0F0F0;
        margin: 0 auto 50px;
        .success_icon {
            width: 26px;
            height: 26px;
            overflow: hidden;
            border-radius: 50%;
            background: url('/assets/imgs/icon/icon_success1.png') no-repeat center center;
            background-size: contain;
        }
        
    }

    .authentication_form {
        .label_text,
        .value_text {
            line-height: 40px;
        }

        .description {
            padding: 8px 0;
            line-height: 26px;
        }
    }
    .refresh_submit {
        width: 300px;
        height: 44px;
        line-height: 44px;
        margin: 50px auto 0;
    }

    .is_edit_box {
        position: relative;
        .edit_btn {
            line-height: 40px;
            z-index: 9;
            position: absolute;
            right: -120px;
            top: 0;
            &.logo_edit_box {
                width: 360px;
            }
            &.description_edit_box {
                width: 120px;
            }
            
            .info_edit_icon {
                display: inline-block;
                width: 24px;
                height: 24px;
                overflow: hidden;
                background: url('/assets/imgs/icon/icon_btnedit30.png') no-repeat center center;
                background-size: cover;

                &:hover  {
                    background-image: url('/assets/imgs/icon/icon_btnedit30_mouseover.png')!important;
                }
            }
        }
    }
}
.save_btn_box {
    button {
        width: 140px;
    }
}

.text_area_count_limit {
    position: relative;

    .limit_count {
        position: absolute;
        right: 8px;
        bottom: 0;
    }
}


:host ::ng-deep {
    // .ant-divider-inner-text {
    //     padding: 0!important;
    //     margin-right: -38px;
    // }
    .ant-divider {
        margin: 8px 0 0 0;
        &::after {
            display: none;
        }
    }
    .ant-divider-horizontal.ant-divider-with-text-left .ant-divider-inner-text,
    .ant-divider-horizontal.ant-divider-with-text-right .ant-divider-inner-text {
        padding: 0 8px;
        margin-right: -20px;
    }
    // .description_edit_box {
    //     .ant-divider-inner-text {
    //         margin-right: -6px!important;
    //     }
    // }
    .ant-divider-dashed {
        &::before {
            border-color: #2694D5;
        }
        &::after {
            border-color: #fff;
        }
        
    }
}