<div class="user_header__wrapper_box pr-md">

    <div *ngIf="settingService.user; else notLogin" class="login_wrap">
        <a nz-dropdown [nzDropdownMenu]="userMenu" class="d-flex align-items-center">
            <span class="text-md username text-truncate">您好，
                <ng-container *ngIf="settingService.user.type === 'user'">
                    {{ settingService.user.name ? settingService.user.name : settingService.user.phone }}
                </ng-container>
                <ng-container *ngIf="settingService.user.type === 'company'">
                    {{ settingService.user.company_name ? settingService.user.company_name : settingService.user.name }}
                </ng-container>
            </span>
            <i nz-icon nzType="down" class="text-md"></i>
        </a>
        <nz-dropdown-menu #userMenu="nzDropdownMenu">
            <div nz-menu class="">
                <ng-container *ngIf="settingService.user.type === 'company'">
                    <div nz-menu-item (click)="toCenter()">
                        <p class="mb-xs">
                            <i nz-icon nzType="bank" nzTheme="outline" class="mr-sm"></i>
                            当前登录账号：<span class="text-primary">{{ settingService.user.name }}</span>
                        </p>
                    </div>
                    <div nz-menu-item (click)="editpwd()">
                        <i nz-icon nzType="unlock" nzTheme="outline" class="mr-sm"></i>
                        修改密码
                    </div>
                </ng-container>
                <div nz-menu-item *ngIf="settingService.user.type === 'user'" (click)="toCenter()">
                    <p class="mb-xs">
                        <i nz-icon nzType="user" nzTheme="outline" class="mr-sm"></i>
                        个人中心
                    </p>
                </div>
                <div nz-menu-item (click)="logout()">
                    <i nz-icon nzType="logout" class="mr-sm"></i>
                    退出登录
                </div>
            </div>
        </nz-dropdown-menu>
    </div>

    <ng-template #notLogin>
        <div class="not_login_wrap d-flex align-items-center">
            <div class="not_login_wrap_content text-md d-flex justify-content-around align-items-center point" (click)="createCompanyModal()">
                <span class="d-block text-center company_login_icon_box"></span>
                <span>企业用户</span>
            </div>
            <div class="not_login_wrap_content ml-md text-md d-flex justify-content-around align-items-center point" (click)="createUserModal()">
                <span class="d-block text-center"><i nz-icon nzType="user" nzTheme="outline"></i></span>
                <span>个人用户</span>
            </div>
        </div>

    </ng-template>
</div>