<div class="login-modal">

    <form nz-form [formGroup]="validateForm" class="form-item" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label class="text-left" nzSpan="6" nzRequired nzFor="position_name">手机号</nz-form-label>
            <nz-form-control nzSpan="18" nzErrorTip="输入您的手机号码">
                <input type="text" nzSize="large" nz-input formControlName="phone" placeholder="输入手机号" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" nzSpan="6" nzRequired nzFor="code">验证码</nz-form-label>
            <nz-form-control nzSpan="18" nzErrorTip="输入您收到的验证码">
                <nz-input-group [nzSuffix]="suffixCode" nzSize="large">
                    <input type="text" formControlName="code" nz-input placeholder="验证码" />
                </nz-input-group>
                <ng-template #suffixCode>
                    <div class="code-btn-box text-center">
                        <a *ngIf="!isGetCode" (click)="getCaptcha($event)" [disabled]="get_captcha_loading || isGetCode" nz-button nzType="link" class="btn_code_link">获取验证码</a>
                        <!-- <span *ngIf="!isGetCode" (click)="getCaptcha($event)" class="text-primary text-md point">获取验证码</span> -->
                        <span *ngIf="isGetCode" class="text-primary text-md">{{ count }}s</span>
                    </div>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" nzSpan="6" nzFor="new_password" nzRequired>新密码</nz-form-label>
            <nz-form-control nzSpan="18" nzErrorTip="请输入新的密码，由8~12位字符构成，含数字和字母">
                <input nz-input type="password" id="new_password" formControlName="new_password"
                    (ngModelChange)="updateConfirmValidator()" nzSize="large" placeholder="密码由8~12位字符构成，含数字和字母" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="text-left" nzSpan="6" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
            <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                <input nz-input type="password" formControlName="checkPassword" id="checkPassword" nzSize="large"
                    placeholder="请再次输入密码" />
                <ng-template #errorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        请再次输入密码
                    </ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">
                        输入的重复密码和新密码不相同
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="24">
                <div class="d-flex justify-content-around mt-lg">
                    <button (click)="cancel($event)" nz-button nzType="default" class="login-form-button"
                        nzSize="large">取 消</button>
                    <button nz-button [nzLoading]="loading" nzType="primary" class="login-form-button" nzSize="large">确 认</button>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>