<div class="user-admin_content_body border-radius-sm bg-white p-md">
    <div class="content_wrapper">
        <app-sub-title-show [title]="'账号绑定'"></app-sub-title-show>
        <div class="px-md mt-lg">
            <form nz-form>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired><i nz-icon nzType="mobile" nzTheme="outline"></i> 手机号</nz-form-label>
                    <nz-form-control [nzSpan]="19" style="line-height: 40px;">
                        <span class="ml-md mr-lg">{{ userDataService.userProfile?.phone }}</span>
                        <span class="text-primary point" (click)="rebind()"><i nz-icon nzType="sync" [nzSpin]="reloading" nzTheme="outline"></i> 重新设置</span>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</div>