<div class="body__content_box py-lg">
    <div class="content_body">

        <div nz-row nzGutter="16">
            <div nz-col nzSpan="6" class="anchor_body">
                <nz-anchor [nzOffsetTop]="100">
                    <nz-link nzHref="#oneParagraph" nzTitle="一、引言"></nz-link>
                    <nz-link nzHref="#twoParagraph" nzTitle="二、我们如何收集您的信息"></nz-link>
                    <nz-link nzHref="#threeParagraph" nzTitle="三、我们如何使用您的信息"></nz-link>
                    <nz-link nzHref="#fourParagraph" nzTitle="四、我们如何共享您的信息"></nz-link>
                    <nz-link nzHref="#fiveParagraph" nzTitle="五、第三方网站"></nz-link>
                    <nz-link nzHref="#sixParagraph" nzTitle="六、我们如何存储您的信息"></nz-link>
                    <nz-link nzHref="#sevenParagraph" nzTitle="七、您的权利及选择"></nz-link>
                    <nz-link nzHref="#eightParagraph" nzTitle="八、数据跨境转移"></nz-link>
                    <nz-link nzHref="#nineParagraph" nzTitle="九、安全事件通知"></nz-link>
                    <nz-link nzHref="#tenParagraph" nzTitle="十、未成年人保护"></nz-link>
                    <nz-link nzHref="#elevenParagraph" nzTitle="十一、联系我们"></nz-link>
                </nz-anchor>
            </div>
            <div nz-col nzSpan="18">

                <h2 class="text-xl text-center mt-lg">天府菁英网隐私政策</h2>

                <div class="content_description_box mt-lg pt-md">

                    <p class="des_par">本隐私政策发布日期为2020年11月28日，并将于2020年12月01日正式生效。</p>

                    <h3 class="des_title mt-lg text-md font-weight-bold" id="oneParagraph">一、引言</h3>
                    <p class="des_par text-indent">
                        天府菁英网视用户信息安全与隐私保护为自己的“生命线”。天府菁英网及其关联企业（“天府菁英网”或“我们”）在向用户提供优质的职业及发展机会的同时，致力于提升信息处理透明度，增强您对信息管理的便捷性，保障您的信息及通信安全。天府菁英网严格遵守法律法规，遵循以下隐私保护原则，以期为您提供更加安全、可靠的服务。
                    </p>
                    <p class="des_par text-indent">
                        天府菁英网隐私政策（“隐私政策”）适用于（1）您使用天府菁英网的网站（http://www.cdtfhr.com/）；（2）您关注、使用天府菁英网的微信公众号时，我们收集和使用您的个人信息及其他相关信息。我们将通过网站、微信公众号等多种形式向您提供服务（“天府菁英网服务”），这些服务将实现个人求职和企业招聘的基础功能（“基础功能”），具体包括注册、登录、用户寻找职位和投递简历、企业处理简历和实施招聘。我们提供的某些服务有特定的用户协议/隐私政策/声明/条款，以帮助您更好地了解我们的服务和个人信息的处理。
                    </p>
                    <p class="des_par text-indent">
                        本隐私政策旨在向您说明我们如何收集、使用、分享以及保护您的个人信息及其它相关信息，请您务必认真阅读。当您向我们提供您的个人信息或开始使用我们的产品或服务时，即表示您已知悉并同意我们在本隐私政策中所述内容。希望您仔细阅读隐私政策，详细了解我们对信息的收集、使用方式，以便您更好地了解我们的服务并作出适当的选择。我们可能会为了向您提供特定服务的目的，收集和使用您的个人敏感信息。<span
                            class="text-underline">个人敏感信息是指一旦泄漏、非法提供或滥用可能危害人身和财产安全，极易导致个人名誉、身心受到损害或歧视性待遇等的个人信息，种族、宗教、政治立场、个人财产信息、个人健康生理信息、个人身份信息和网络身份标识信息等可能构成个人敏感信息。</span>我们会在以下描述中将个人敏感信息以下划线形式标记，提醒您注意。在使用过程中，请谨慎考虑是否向我们提供这些信息。我们将尽最大努力保护好您的个人信息。
                    </p>
                    <p class="des_par text-indent">
                        我们可能会对隐私政策进行修改，如有重大更改（例如业务功能、使用目的、个人信息保护相关负责人联系方式等变更），我们将在新版隐私政策正式生效前，通过页面通知的方式在天府菁英网网站上公布新版隐私政策，方便您了解具体的变化并向我们提出建议。如果您继续使用我们的服务即被视为对新版隐私政策的接受，如果您不接受修改后的条款，您可以注销账号。
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="twoParagraph">二、我们如何收集您的信息</h3>
                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="register_account">1. 注册账号</h4>
                    <p class="des_par text-indent">
                        您可以通过天府菁英网网站和微信公众号，或在我们客服的帮助下线下注册天府菁英网账号并享受天府菁英网服务。您也可以在不注册账号或不登录的情形下浏览天府菁英网网站，但您注册之后可以享受更全面和优质的服务（即个人寻找职业和雇主寻找雇员）。
                    </p>
                    <p class="des_par text-indent">
                        在您注册账号时，我们需要收集您的<span
                            class="text-underline">电话号码或个人邮箱</span>，我们将通过发送短信验证码或邮件的方式来验证您的身份是否有效。为保存登录信息并在不同设备登录时能同步数据，我们将需要您授予我们从第三方账号获得某些信息的权限，如使用者第三方关联登录的唯一标识、头像、昵称。有关您在这些第三方账号中所有的隐私控制、选项及具体的隐私规定，请参阅他们的隐私政策。如果您在客服的协助下线下完成账户注册，我们将在您第一次登录时提供隐私政策并获取您的同意。
                    </p>
                    <p class="des_par text-indent">
                        当您代表您的雇主注册并使用企业招聘账号时，我们需要通过收集您的姓名、<span
                            class="text-underline">手机号码、邮箱地址和公司营业执照图片</span>进行招聘身份认证，以最大限度地保证招聘信息的真实和准确。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="create_resume">2. 创建简历</h4>
                    <p class="des_par text-indent">
                        为实现您对天府菁英网的人力资源服务的需求或要求，当您注册账号并创建您的简历时，我们还可能收集个人信息，包括但不限于：真实姓名、性别、<span
                            class="text-underline">手机号码</span>、个人邮箱、学历、毕业学校、专业、期望工作地区、期望工作性质和现居住城市。以及，当您自行选择对简历进行完善时，在个人信息类别中，我们可能收集您的出生日期、民族（选填）、<span
                            class="text-underline">婚姻状况</span>（选填）、籍贯、入学前户口所在地、毕业时间、身高（选填）和体重（选填）等；在教育经历类别中，我们可能收集您过去的教育经历；在求职意向中，我们可能收集您的期望从事行业、期望从事职业、目前状况、期望月薪以及到岗时间；在工作经历类别中，我们可能收集您的工作过的公司名称、职位名称、所属行业、所属职类、月薪、工作内容描述；此外，我们可能收集您的项目经验、奖励获得、获奖证书、语言能力、培训经历、自我评价、兴趣爱好，以及上传的相应附件等。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="use_service">3. 使用我们的服务</h4>
                    <p class="des_par text-indent">
                        当您使用我们的服务进行简历投递时，我们会收集您的投递记录，方便您能查看投递职位的进展及面试状态等。您还可以报名参加宣讲会、空中宣讲和双选会等各类活动，在活动中我们或招聘单位可能需要收集您的简历信息，以作为报名凭证或筛选依据。
                    </p>
                    <p class="des_par text-indent">
                        我们将申请获取您的<span
                            class="text-underline">通讯录信息</span>和简历信息，为您推荐通讯录好友、二度人脉、同公司、同学校、同职位的人脉以提高您获取目标职位的成功率。您可以随时关闭通讯录信息授权或设置简历为“保密”以拒绝提供该信息，且不影响正常使用天府菁英网的基础功能。
                    </p>
                    <p class="des_par text-indent">
                        为了使您高效地求职，对您感兴趣的招聘单位可向您发出投递邀请、约聊、下载您的简历并与您进行电话沟通。您也可以选择您感兴趣的招聘单位主动投递简历。为了方便您查看企业招聘职位的<span
                            class="text-underline">地理位置信息</span>或离您最近的职位信息，或向附近的企业查询附近的求职者，您可以授权我们获得您的<span
                            class="text-underline">地理位置信息</span>。您可以随时关闭<span
                            class="text-underline">地理位置信息</span>授权并拒绝提供该信息，且不影响使用天府菁英网的基础功能。
                    </p>
                    <p class="des_par text-indent">当您在使用企业招聘账号时，您的雇主可以查阅您对该账号的使用和管理，包括职位管理、简历管理、消息管理、系统设置、账号信息和公司设置。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="attention_wechat">4. 关注并使用天府菁英微信公众号
                    </h4>
                    <p class="des_par text-indent">
                        当您关注、使用我们的微信公众号时，我们会收集您的微信昵称、头像。当您使用微信公众号的特定功能或服务时，您可能需要注册、登录天府菁英网账号或使用微信账号快速登录，我们可能会收集您的<span
                            class="text-underline">手机号码</span>，对于此类信息，我们将按照微信公众号的个人信息收集规则，根据相应提示获取您的同意。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="join_activity">5. 参与我们举办的专题活动</h4>
                    <p class="des_par text-indent">
                        当您参加我们举办的专题活动或要购买公开的产品和服务时，除用户的基本信息外，我们还可能会收集您的<span
                            class="text-underline">个人照片及其所发布的动态、言论、文章等</span>。您在使用上述服务时，您应当知晓您提交的任何信息，包括您的姓名、<span
                            class="text-underline">邮箱地址</span>，均有可能被他人获知，请您谨慎考虑披露您的相关个人敏感信息。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="feedback">6. 反馈</h4>
                    <p class="des_par text-indent">
                        我们可以通过天府菁英网网站接收您所提供的反馈信息。通过此类链接收到的反馈信息的全部相关权利（包括但不限于复制、转引该等信息的权利）属于我们所有。由于反馈信息由您主动提供，因此视为您已同意我们获取并在合法范围内使用此类反馈信息。我们可能利用此类反馈信息，制作"成功的故事"并作为我们市场宣传活动的内容。我们可能通过您所提供的<span
                            class="text-underline">联系方式</span>与您联系并进一步获得相关反馈信息。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="advert_service">7. 广告服务</h4>
                    <p class="des_par text-indent">
                        我们可能会收集您的<span
                            class="text-underline">联系方式</span>与您进行通信，包括通知您有关账户、安全性更新、产品和服务信息，以及推荐您可能感兴趣的内容。此外，为了使您在求职过程中能实时了解求职进展，我们可能向您推送消息。"成功的故事"并作为我们市场宣传活动的内容。我们可能通过您所提供的联系方式与您联系并进一步获得相关反馈信息。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="cookies">8. Cookies</h4>
                    <p class="des_par text-indent">
                        当您使用我们网站时，我们可能通过Cookies或同类技术收集您的设备型号，操作系统、唯一设备标识符、登录IP地址信息，以及缓存您的<span
                            class="text-underline">浏览信息</span>、<span
                            class="text-underline">点击信息</span>，以查看您的网络环境。通过Cookies，我们可以在您访问网站时识别您的身份，并不断优化网站的用户友好程度，并根据您的需要对网站做出调整。您也可以更改浏览器的设置，使浏览器不接受我们网站的Cookies，但这样可能会影响您对网站的部分功能的使用。"成功的故事"并作为我们市场宣传活动的内容。我们可能通过您所提供的联系方式与您联系并进一步获得相关反馈信息。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="get_other_info">9. 我们从其他合法来源获取的信息
                    </h4>
                    <p class="des_par text-indent">
                        我们可能从其他合法来源获取您的个人信息及其他信息，如通过公开数据库、社交媒体、第三方服务供应商及其他合作伙伴，我们将努力核查信息来源的合法性，并保护您的个人信息。"成功的故事"并作为我们市场宣传活动的内容。我们可能通过您所提供的联系方式与您联系并进一步获得相关反馈信息。
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="threeParagraph">三、我们如何使用您的信息</h3>
                    <p class="des_par text-indent">我们从上述渠道收集的您的个人信息，在适用法律法规允许的范围内，未经您事先同意或授权，本公司可能在下列情况下使用您的信息：</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="provide_product_service">1. 提供产品或服务
                    </h4>
                    <p class="des_par text-indent">
                        为实现我们最基本的人力资源服务，即帮助个人寻找职业，帮助雇主寻找雇员，我们需要收集并使用您的求职信息，以帮助个人或雇主查看对方的信息，并达成雇佣的合意。
                    </p>
                    <p class="des_par text-indent">
                        当您填写简历之后可将简历向特定企业投递，我们将会把您的简历信息提供给您所投递的招聘单位，供其背景审查或职业选拔；对您感兴趣的招聘单位将获得<span
                            class="text-underline">您的联系方式和邮箱地址或对您发出面试邀请</span>；</p>
                    <p class="des_par text-indent">
                        当您把简历设置为“公开”时，招聘单位可主动搜索您的简历，以增加您的求职机会，我们不会在搜索结果中公开<span
                            class="text-underline">您的姓名和联系方式</span>；对您感兴趣的招聘单位可以与您约聊、对您发送投递简历邀请或下载您的简历；</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="stay_concat">2. 保持联络</h4>
                    <p class="des_par text-indent">
                        我们将实时回应您的询问及请求，例如通过“用户反馈”提出您的问题，由客服人员联络您并解决您的问题；我们也将通过问卷调查等方式获取您的职业意向和具体需求；此外，我们会向您推送消息帮助您了解最新求职进展和相关求职机会；在经过您的同意获取<span
                            class="text-underline">通讯录</span>信息并计算人脉信息时，我们可以向您发送职位推荐信息。对于邮件推送信息，您可以点击邮件中的“取消订阅”或“这里退订”按钮以实施邮件退订，不同版本的邮箱的按钮名称可能略有差异。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="change_service">3. 改善并优化服务</h4>
                    <p class="des_par text-indent">
                        我们可能将收集到的信息用于了解您如何以及在何种网络环境下使用我们的服务，从而向您提供更好的服务并针对性地回应您的需求。例如了解您的使用偏好，感兴趣的职业，以提升服务质量并优化服务的功能。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="personalized_display">4. 推广及个性化展示
                    </h4>
                    <p class="des_par text-indent">
                        我们向您提供您可能感兴趣的推广信息，包括我们的产品及服务、消息及广告、评估、活动、促销及推广，以向您提供定制化的服务，包括向您提供匹配度高的职位机会推送、搜索栏中优先展示特定职位信息。如果您不想接受我们以任何方式向您提供的营销信息，您可以选择收回您的授权同意。您可以通过我们在电子邮件中的退订按钮或按照我们在短信中提供的退订说明进行退订，您也可以通过本隐私政策中提供的联系方式与我们联系。需要说明的是，即使您选择拒绝接受推广信息，我们可能还会向您发送重要的系统管理及安全信息。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="analyze">5. 分析和研究目的</h4>
                    <p class="des_par text-indent">
                        我们始终致力于分析和研究职业机会的创造，并投身于职业能力的培养、职业形势的分析、就业政策的研究。在某些情况下，我们可能会使用到您的个人信息以及经过处理后去标识化和匿名化的信息。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="lawyer_flow">6. 法律要求及法律程序</h4>
                    <p class="des_par text-indent">
                        在适用法律法规允许的范围内，我们可能会将您的信息用于法律法规、法院命令或其他法律程序、或有权政府机关要求的用途，包括协助公安机关调查相关诈骗案件或维持网络社区的言论秩序。</p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="fourParagraph">四、我们如何共享您的信息</h3>
                    <p class="des_par text-indent">我们将在以下情形中向第三方分享或提供您的个人信息：</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="user_authorization">1. 用户事先授权</h4>
                    <p class="des_par text-indent">
                        在获得您事先授权的前提下，我们可能会将您的信息分享给我们的关联公司、招聘单位、第三方服务提供商或合作伙伴。由于我们提供的是招聘服务，查阅您的简历的招聘单位数量直接影响了您的求职机会，您可以直接将简历投递给招聘单位，也可以选择在简历|隐私设置中设定为“公开”，使招聘单位能根据需求搜索到您的简历，当您将其设置为“保密”后，您的简历则无法被招聘单位搜索。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="our_destination">2. 本隐私政策所述目的</h4>
                    <p class="des_par text-indent">
                        为了向您提供服务或实现上述信息使用的目的，我们可能将您的个人信息分享给我们的关联公司、招聘单位、合作伙伴或第三方服务提供商，第三方服务提供商可能将您的个人信息存储于其服务器上。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="lawyer_required">3. 法律法规或有权机关要求
                    </h4>
                    <p class="des_par text-indent">
                        根据法律法规、法院命令或其他法律程序、或有权政府机关的要求，向法院、检察院、公安机关或其他行政机关提供您的信息。例如，出现网络诈骗行为时公安机关对嫌疑人的相关信息的调取。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="emergency_danger_situation">4.
                        紧急或危险情况</h4>
                    <p class="des_par text-indent">为免除我们及员工、服务的用户或公众在生命、身体或财产方面的紧急或危险情况时，我们可能在法律法规要求或允许的范围内分享您的信息。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="merger_and_acquisition">5.
                        合并、收购或资产出售</h4>
                    <p class="des_par text-indent">
                        为合并、收购或资产出售等交易的需要，我们可能会将您的个人信息进行转让，在转移您的个人信息前，我们会给予您必要的通知并获得您的授权，并确保您的个人信息在转让后至少得到与本隐私政策相同程度的保护。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="third_party_service">6. 第三方技术服务
                    </h4>
                    <p class="des_par text-indent">
                        为提供和优化我们的服务，我们的App中内嵌了第三方的SDK，包括但不限于新浪微博、阿里云、高德地图和听云透镜。这些第三方SDK在配合我们向您提供更全面的服务的同时，可能会收集您的个人信息，<span
                            class="text-underline font-weight-bold">上述所有信息将经过处理后进行去标识化传输</span>。我们将尽可能控制并保护个人信息的收集，并将通过弹窗的方式告知您，相关隐私实践请详见该等第三方的隐私政策。
                    </p>
                    <p class="des_par text-indent">
                        支付（微信、支付宝SDK）为实现用户在线支付购买增值服务产品，在您授权同意后，微信、支付宝SDK可能获取访问您的网络状态、读取电话状态、Wi-Fi状态、检索正在运行的应用，确保您在服务中正常使用在线支付的功能。您可选择关闭相应的授权，但可能造成您无法购买我们的增值产品或服务的情况。
                    </p>
                    <p class="des_par text-indent">
                        定位（高德地图SDK）为了确保求职者获取招聘单位的准确地址，在您授权同意后，高德地图SDK可能获取访问您所在的城市、地区以及位置信息、网络状态、读写外部存储权限、蓝牙、Wi-Fi状态、检索正在运行的应用、读取电话状态权限。您可选择关闭相应的授权，但可能造成您无法接收附近的职位信息。
                    </p>
                    <p class="des_par text-indent">
                        账户安全（极验SDK）为保障用户的账户安全和系统安全，在您授权同意后，极验SDK可能获取访问您的本机设备信息、MAC地址权限、粗略<span
                            class="text-underline">位置信息</span>、读取手机状态和身份。您可选择关闭相应的授权，但可能造成您的账户安全风险变高。
                    </p>
                    <p class="des_par text-indent">
                        实名认证（百度云SDK）为了落实监管部门关于身份审核的要求，您代表您的企业进行招聘前，需要先通过人脸识别验证。在您授权同意后，百度云SDK获取您的本机摄像头、相册以及麦克风权限、网络状态、读写外部存储。您可选择关闭相应的授权，但可能造成您无法继续使用我们的服务。
                    </p>
                    <p class="des_par text-indent">
                        用户反馈（阿里用户反馈SDK、智齿客服平台SDK）为了及时收集、分析并应对用户反馈，在您授权同意后，阿里用户反馈SDK、智齿客服平台SDK可能访问您的网络状态、麦克风权限、读写外部存储权限。您可选择关闭相应的授权，但可能造成您的反馈得不到及时回应。
                    </p>
                    <p class="des_par text-indent">
                        统计分析（听云透镜SDK、MSASDK）为了保障系统运营的稳定安全，并对用户在App内的行为进行统计，上报操作行为，进行数据分析。<span
                            class="font-weight-bold">在您授权同意后</span>，听云透镜SDK可能获取访问您的电话状态、Wi-Fi状态、网络状态、读写外部存储权限、读写系统设置、检索正在运行的应用。MSASDK仅以首次启动生成的OAID（非关联性设备信息）用于广告业务的统计，AdTracking移动广告监测仅用于数据统计和反作弊能力的防护与排查，<span
                            class="font-weight-bold">在您授权同意后</span>，可能需要获取网络状态、设备机型、设备操作系统、设备激活时间。您可选择拒绝使用或关闭功能所需权限，可能会影响您的使用体验，但不会影响您对天府菁英网基础功能的使用。
                    </p>
                    <p class="des_par text-indent">
                        语音视频（网易云信SDK、FaceUnity视频人脸、阿里云短视频SDK、阿里云播放器SDK（ApsaraVideoPlayerSDK））为了实现 App
                        在线聊天、语音和视频功能，在您授权后，网易云信 SDK、FaceUnity 视频人脸、阿里云短视频 SDK、阿里云播放器 SDK（ApsaraVideo Player
                        SDK）可能获取读写外部存储、查看
                        WiFi 状态、查看电话状态、查看网络连接、本机摄像头、相册以及麦克风权限、检索正在运行的应用。您可选 择拒绝使用或关闭功能所需权限，可能会影响您的使用体验，但不会影响您对
                        智联基础功能的使用。</p>
                    <p class="des_par text-indent">
                        PushSDK（小米、华为、魅族、个推、vivo、oppo）为了向您推送系统通知或重要消息，<span
                            class="font-weight-bold">在您授权同意后</span>，PushSDK可能获取访问您的手机型号、系统类型、系统版本、设备手机屏幕尺寸、参数权限，如果您不希望收到这些通知或信息，可以在终端设备设置中关闭消息通知。
                    </p>
                    <p class="des_par text-indent">
                        共享（游昆shareSDK）为了实现用户的某些内容分享到第三方平台，或利用第三方服务登录天府菁英网，在您授权同意后游昆shareSDK可能获取您分享的相关信息、地理位置、IDFA，您可选择拒绝使用或关闭功能所需权限，可能会影响您的使用体验，但不会影响您对天府菁英网基础功能的使用。
                    </p>
                    <p class="des_par text-indent">
                        智能识别（麦穗Mesoor）为了提升您的简历编辑体验，提升简历编辑速度，在经过您的授权同意后，天府菁英网将向您提供第三方简历智能识别服务，根据您上传的附件（PDF、WORD、TXT、HTML等）内容，智能提取您的简历信息，并将简历信息添加至在线简历数据中。本功能仅在用户授权同意并选择简历解析服务后进行，简历附件和智能解析结果仅用于提升用户体验和用户简历信息填充。
                    </p>

                    <h3 class="des_title mt-lg text-md font-weight-bold" id="fiveParagraph">五、第三方网站</h3>
                    <p class="des_par text-indent">
                        我们的网站中可能包含第三方运营网站的链接。对于与天府菁英网网站链接的或天府菁英网网站包含的第三方运营网站及第三方网络广告公司的相关产品或服务，并受他们的隐私政策约束。天府菁英网网站所包含的链接不代表我们认可或负责该第三方运营网站的隐私政策。
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="sixParagraph">六、我们如何存储您的信息</h3>
                    <p class="des_par text-indent">
                        除法律法规另有规定或执法机关有特殊要求，如果我们停止运营，我们将停止收集您的个人信息，并在合理期限内采取措施删除或隐匿我们所持有的个人信息。</p>
                    <p class="des_par text-indent">
                        我们会在达成本隐私政策所述目的所需的期限内保留您的个人信息，超出上述期限后，我们将停止收集您的个人信息，并在合理期限内采取措施删除或隐匿我们所持有的个人信息。</p>

                    <h3 class="des_title mt-lg text-md font-weight-bold" id="sevenParagraph">七、您的权利及选择</h3>
                    <p class="des_par text-indent">
                        除法律法规的规定的情形外，我们将依法采取适当的技术手段，保证您访问、更新、更正或删除您的个人信息的权利。如您的请求无法得到满足时，我们将向您提供合理的解释。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="access_right">1.访问权</h4>
                    <p class="des_par text-indent">
                        您有权访问您的天府菁英网网站的账户信息、投递记录等信息。您登录帐号后，即可访问我们保留的您的个人信息，如您希望获取更为详尽的清单，您可以通过联系我们提出您的具体要求。</p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="correct_the_right">2.更正权</h4>
                    <p class="des_par text-indent">
                        您在账户内可修改您的原有个人信息的设置，包括但不限于个人简历、收藏的职位和关注的公司。当您发现我们处理的关于您的个人信息有错误且您无法在账户内自行修改时，您有权通过“联系我们”要求我们对错误或不完整的信息做出更正或更新。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="right_to_delete">3.删除权</h4>
                    <p class="des_par text-indent">
                        当您不再使用我们的产品或服务且要求删除您的个人信息时，或我们违反法律法规或与您的约定收集、使用、与他人分享您的个人信息时，您有权要求删除您的个人信息。您可以在简历设置中自主修改、删除您的个人信息，但出于监管机关打击犯罪、维护国家安全的要求，我们可能会对您的<span
                            class="text-underline">通讯信息</span>进行记录和保存。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="right_of_revocation">4.撤销权</h4>
                    <p class="des_par text-indent">每个业务功能需要一些基本的个人信息才能得以完成。对于非必要收集的个人信息，您可以随时给予或收回您的授权同意。</p>
                    <p class="des_par text-indent">
                        您已经投递的简历或被企业搜索已下载过的您的简历，以及您与他人分享的信息（如通过动态消息或群组）在注销账号或删除信息后，我们可能不会立即删除相应的信息，因为我们无法删除他人从我们的服务中复制的信息。
                    </p>

                    <h4 class="des_sub_title mt-md font-weight-bold text-indent" id="right_of_cancellation">5.注销权</h4>
                    <p class="des_par text-indent">
                        您可通过联系客服的方式，随时注销此前注册的账户，我们将尽快删除该账号。账户注销可能会导致清除您的所有用户数据和账户信息且不可恢复；但在特定情形下，如合理必要地履行我们的法律义务、解决争议、防止欺诈与滥用，我们将在使用者账号注销后保留不可识别个人的信息。
                    </p>
                    <p class="des_par text-indent">
                        您可根据以下“联系我们”部分所列的方式与我们联络，以行使上述权利；或者对于通过天府菁英网网站收集的个人信息，您可通过天府菁英网网站中的帮助与反馈功能提交相关权利要求。当您请求行使上述权利，或进行其他申诉时，原则上我们将于15天内回复处理意见或结果。
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="eightParagraph">八、数据跨境转移</h3>
                    <p class="des_par text-indent">
                        您的个人信息将只存储在位于中国的服务器上，您的信息将不会被我们主动传输到境外。您需要知晓，通过天府菁英网服务开展招聘的企业包含大量的跨国公司和境外集团，上述公司可能在境外使用天府菁英网网站和微信公众号，或将您的简历传输境外总部，具体实践请见各招聘企业的隐私政策。
                    </p>

                    <h3 class="des_title mt-lg text-md font-weight-bold" id="nineParagraph">九、安全事件通知</h3>
                    <p class="des_par text-indent">
                        我们会制定网络安全事件应急预案，及时处置系统漏洞、计算机病毒、网络攻击、网络侵入等安全风险，在发生危害网络安全的事件时，我们会立即启动应急预案，采取相应的补救措施，并按照适用法律及法规向有关主管部门报告。
                    </p>
                    <p class="des_par text-indent">
                        在发生安全事件后，我们将按照法律法规的要求，及时向您告知安全事件的基本情况和可能的影响、我们已采取或将要采取的处理措施、您可自主防范和降低的风险的建议、对您的补救措施等。我们将及时将事件相关情况以短信通知、电话、邮件等您预留的联系方式告知您，难以逐一告知时我们会采取合理、有效的方式发布公告。
                    </p>


                    <h3 class="des_title mt-lg text-md font-weight-bold" id="tenParagraph">十、未成年人保护</h3>
                    <p class="des_par text-indent">
                        十六周岁以下的未成年人均不属于我们合格的用户群体，我们不会在明知的情况下收集十六周岁以下的未成年人个人信息，我们也已在简历输入的功能中对年龄进行限定，不向用户提供十六周岁以下的年龄区间选项。十六周岁至十八周岁的未成年人使用天府菁英网服务，应当由监护人注册账户和填写相关信息。如未经其监护人同意，我们不会收集未成年人向我们提供个人信息。
                    </p>

                    <h3 class="des_title mt-lg text-md font-weight-bold" id="elevenParagraph">十一、联系我们</h3>
                    <p class="des_par text-indent">如果您对本隐私政策有任何问题，请通过以下方式与我们的个人信息保护专员联系。</p>
                    <p class="des_par text-indent">公司名称：成都天府新区人力资源开发服务有限公司</p>
                    <p class="des_par text-indent">注册地址：四川省成都市天府新区天府大道南段288号</p>
                    <p class="des_par text-indent">客服热线：400-060-6661转3</p>

                </div>
            </div>
        </div>


    </div>

</div>