<div class="search__wrapper">
    <div class="body__content_box">
        <div class="search-content_wraper d-flex align-items-center">
            <app-layout-full-search (searchOptionChange)="searchOptionChange($event)"></app-layout-full-search>
        </div>
    </div>
</div>


<div class="info_details__wrapper">
    <div class="info_content clearfix">
        <div class="details__result_body float-left border-radius-sm">
            <ng-container *ngIf="!loadingData && info;else loadingSpin">
                <div class="details_block_top bg-white d-flex justify-content-end">
                    <div class="details_left_content_body">
                        <p class="update_time text-grey mb-sm"><i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                            更新于 {{ info.updated_at | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
                        <h3 class="position_name text-666">{{ info.name }}</h3>
                        <p class="text-danger mt-md text-lg">{{ info.salary.value }} /月</p>
                        <div class="text-grey">
                            <span>{{ info.province.name }}-{{ info.city.name }}</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span>{{ info.workExperience.value }}</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span>{{ info.education.value }}</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span>招{{ info.number }}人</span>
                        </div>
                        <button nz-button [disabled]="status === 1 || !info.status"
                            (click)="applyPosition()" class="point apply_oper-btn bg-green text-white text-lg">
                            <i nz-icon nzType="file-text" nzTheme="outline"></i>
                            <span class="pl-sm" *ngIf="!info.status">职位已下线</span>
                            <span class="pl-sm" *ngIf="info.status">{{ status ? '已投递' : '申请职位' }}</span>
                        </button>
                    </div>
                </div>
                <!-- 岗位职责 -->
                <div class="details_block_sec d-flex justify-content-end">
                    <div class="details_left_content_body pt-sm">
                        <app-sub-title-show [title]="'岗位职责'"></app-sub-title-show>
                        <div class="position_duty_des mt-sm text-md text-grey">
                            <div [innerHTML]="info.description | showTextAreaText"></div>
                        </div>
                    </div>
                </div>
                <!-- 工作地点 -->
                <div class="details_block_thre bg-white d-flex justify-content-end">
                    <div class="details_left_content_body pt-sm">

                        <app-sub-title-show [title]="'工作地点'"></app-sub-title-show>
                        <div class="position_work_address mt-sm text-md text-grey">

                            <nz-collapse [nzBordered]="false" class="bg-white">
                                <nz-collapse-panel [nzExpandedIcon]="addressIcon" [nzHeader]="addressHeader"
                                    [nzExtra]="addressExtra">
                                    <ng-template #addressIcon>
                                        <span class="text-grey text-lg">
                                            <i nz-icon nzType="environment" nzTheme="outline"></i>
                                        </span>
                                    </ng-template>
                                    <ng-template #addressHeader>
                                        <span class="text-grey text-lg">
                                            {{ info.address }}
                                        </span>
                                    </ng-template>
                                    <div class="address_map_body">
                                       <app-position-address-map [city]="info.city.name + '市'" [address]="info.address"></app-position-address-map>
                                    </div>
                                </nz-collapse-panel>
                                <ng-template #addressExtra>
                                    <span class="text-grey text-lg">
                                        查看地图
                                        <i nz-icon nzType="down" nzTheme="outline"></i>
                                    </span>
                                </ng-template>
                            </nz-collapse>

                        </div>
                    </div>
                </div>
                <!-- 推荐职位 -->
                <ng-container *ngIf="(settingService.user && settingService.user.type !== 'company') || !settingService.user">
                    <div class="details_block_fourth d-flex justify-content-end">
                        <div class="details_left_content_body">
                            <app-recommend-positions [positionId]="positionId"></app-recommend-positions>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #loadingSpin>
                <div class="loading_data_spin bg-white">
                    <nz-spin nzSimple></nz-spin>
                </div>
            </ng-template>
        </div>
        <div class="details__result_right-box float-left" *ngIf="!loadingData && info;else loadingSpin">
            <!-- 职位详情    公司信息  -->
            <div class="company_info_card bg-white d-flex flex-column align-items-center border-radius-sm">
                <div class="company_info_log d-flex justify-content-center align-items-center">
                    <!-- <img src="./assets/imgs/test/logo_company.png" alt="公司logo"> -->
                    <img [src]="environment.SERVER_URL + '/' + info.company.logo" alt="公司logo">
                </div>

                <p class="company_info_name text-center text-666 py-md">{{ info.company.name }}</p>
                <div class="company_info_type text-grey text-center">
                   {{ info.company.industry.name }} <br> {{ info.company.type.value }}
                </div>
                <div class="company_info_amount text-grey-dark text-center pt-sm pb-md">{{ info.company.scale.value }}</div>

                <div class="company_info_description" nz-typography nzEllipsis nzEllipsisRows="5">
                    <div [innerHTML]="info.company.description | showTextAreaText"></div>
                </div>

                <a [routerLink]="['/company']" [queryParams]="{cid: info.company.id }" target="_blank" class="comany_info_link text-center text-primary text-lg border-radius-sm">公司主页</a>
                
            </div>
            
            <!-- 查看历史记录 -->
            <app-right-sidebar-job-history></app-right-sidebar-job-history>
        </div>
    </div>
</div>