<div class="resume-show_sub_content_box">
    <div class="resume-show-sub-title-box">
        <app-sub-title-show [title]="'求职意向'"></app-sub-title-show>
        <div class="edit-box">
            <nz-divider [nzText]="rightTextTpl" nzOrientation="right" nzDashed></nz-divider>
            <ng-template #rightTextTpl>
                <div class="text-sm edit_icon_box d-flex align-items-center text-primary point" (click)="editInfo()">
                    <!-- <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i> -->
                    <span class="resume_info_edit_icon mr-sm"></span>
                    编辑
                </div>
            </ng-template>
        </div>
    </div>

    <div class="resume-show_content_body my-sm py-sm px-md">
        <div class="text-sm text-grey">
            <div>期望工作地区： 
                <ng-container *ngFor="let city of resumeInfo.target.city; let city_idx = index">
                    <nz-divider nzType="vertical" *ngIf="city_idx !== 0"></nz-divider>
                    {{ city.name }}
                </ng-container>
            </div>
            <div>期望工作性质： 
                <ng-container *ngFor="let type of resumeInfo.target.type; let type_idx = index">
                    <nz-divider nzType="vertical" *ngIf="type_idx !== 0"></nz-divider>
                    {{ type.value }}
                </ng-container>
            </div>
            <div>期望从事行业： 
                <ng-container *ngFor="let industry of resumeInfo.target.industry; let industry_idx = index">
                    <nz-divider nzType="vertical" *ngIf="industry_idx !== 0"></nz-divider>
                    {{ industry?.name }}
                </ng-container>
            </div>
            <div>期望职业： 
                <ng-container *ngFor="let job_type of resumeInfo.target.job_type; let job_type_idx = index">
                    <nz-divider nzType="vertical" *ngIf="job_type_idx !== 0"></nz-divider>
                    {{ job_type.name }}
                </ng-container>
            </div>
            <div>期望月薪： <ng-container *ngIf="resumeInfo.target.salary">{{ resumeInfo.target.salary.value }} /月</ng-container></div>
            <div>求职状态： {{ resumeInfo.target.status?.value }}</div>
        </div>
    </div>
</div>