<div class="resume-show_sub_content_box">
    <div class="resume-show-sub-title-box">
        <app-sub-title-show [title]="'求职意向'"></app-sub-title-show>
        <div class="edit-box">
            <nz-divider [nzText]="rightTextTpl" nzOrientation="right" nzDashed></nz-divider>
            <ng-template #rightTextTpl>
                <div class="text-sm text-primary point" (click)="editInfo()">
                    <i class="text-md" nz-icon nzType="edit" nzTheme="outline"></i>
                    编辑
                </div>
            </ng-template>
        </div>
    </div>

    <div class="resume-show_content_body my-sm py-sm px-md">
        <div class="text-sm text-grey">
            <div>期望工作地区： 成都</div>
            <div>期望工作性质： 全职</div>
            <div>期望从事行业： 房地产开发与经营</div>
            <div>期望职业： 工程总监、房地产招投标、项目主管</div>
            <div>期望月薪： 10K-15K/月</div>
            <div>求职状态： 在职，急于寻找新工作</div>
        </div>
    </div>
</div>