<div class="advert_modal_wrapper">
    <div class="body__content_box mt-sm mb-lg">
        <div nz-row [nzGutter]="14">
            <div nz-col nzSpan="10">
                <app-sub-title-show [title]="'公告公示'" [url]="'/recruit/hot'" [isBold]="false"></app-sub-title-show>
                <p>zk-news-list-tpl works!</p>
            </div>
            <div nz-col nzSpan="10" nzOffset="4">
                <app-sub-title-show [title]="'新闻中心'" [url]="'/recruit/hot'" [isBold]="false"></app-sub-title-show>
                <p>zk-news-list-tpl works!</p>
            </div>
        </div>
    </div>
</div>
