<div *ngIf="itemType === 'card'">
  <nz-table #cardTableTpl nzShowSizeChanger nzShowQuickJumper nzBordered [nzData]="listOfData"
    [nzFrontPagination]="false" [nzLoading]="loadingData" [nzTotal]="pageOption.total"
    [nzPageSize]="pageOption.per_page" [nzPageIndex]="pageOption.current_page"
    (nzQueryParams)="onQueryParamsChange($event)" [nzFooter]="footerTpl">
    <thead>
      <tr>
        <th colspan="3" class="text-center">简历概述</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of cardTableTpl.data">
        <td>
          <div class="user-logo">
            <div
              class="logo_img_box bg-grey border-radius-half text-white d-flex justify-content-center align-items-center">
              <ng-container *ngIf="data.resume.avatar;else notPhoto">
                <img [src]="environment.SERVER_URL + '/' + data.resume.avatar" alt="">
              </ng-container>
              <ng-template #notPhoto>
                <i nz-icon nzType="user" nzTheme="outline"></i>
              </ng-template>
            </div>
          </div>
        </td>
        <td>
          <div class="mb-sm">
            <a [routerLink]="['/fullscreen/resume/view', data.resume.id]" [queryParams]="params" target="_blank">{{ data.resume.name }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <span>{{ data.resume.sex }}</span>
            <nz-divider nzType="vertical"></nz-divider>
            <span>{{ data.resume.age }}</span>
            <nz-divider nzType="vertical"></nz-divider>
            <span *ngIf="data.resume.work_date">{{ data.resume.work_date }}工作经验</span>
            <span *ngIf="!data.resume.work_date">无工作经验</span>
            <nz-divider nzType="vertical"></nz-divider>
            <span>{{ data.resume.edu?.level }}</span>
            <nz-divider nzType="vertical"></nz-divider>
            <span>{{ data.resume.city }}</span>
          </div>
          <p class="text-666">毕业院校
            <span class="ml-sm text-grey">{{ data.resume.edu.name }}<nz-divider nzType="vertical"></nz-divider>{{ data.resume.edu?.level }}</span>
          </p>
          <p class="text-666">求职状态
            <span class="ml-sm text-grey">{{ data.resume.status }}</span>
          </p>
          <p class="text-666">投递时间
            <span class="ml-sm text-grey">{{ data.created_at }}</span>
          </p>
        </td>
        <td style="vertical-align: top;">
          <div>
            <h3 class="text-666 text-md">工作经历</h3>
            <ng-container *ngIf="data.resume.work_date && data.resume.work && data.resume.work.length !== 0; else notWorkTpl">
              <p class="text-nowrap" *ngFor="let work of data.resume.work">
                <span>{{ work.start_time | date: 'yyyy/MM/dd' }} ~ {{ work.end_time | date: 'yyyy/MM/dd' }}</span>
                <nz-divider nzType="vertical"></nz-divider>
                <span>{{ work.name }}</span>
                <nz-divider nzType="vertical"></nz-divider>
                <span>{{ work.position_name }}</span>
              </p>
            </ng-container>
            <ng-template #notWorkTpl>
              <p class="text-grey" *ngIf="!data.resume.work_date">无经验</p>
              <p class="text-grey" *ngIf="data.resume.work_date">未完善工作经历</p>

            </ng-template>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div *ngIf="itemType === 'simple'">
  <nz-table #rowSelectionTable nzShowSizeChanger nzShowQuickJumper [nzData]="listOfData" [nzFrontPagination]="false"
    [nzLoading]="loadingData" [nzTotal]="pageOption.total" [nzPageSize]="pageOption.per_page"
    [nzPageIndex]="pageOption.current_page" (nzQueryParams)="onQueryParamsChange($event)" [nzFooter]="footerTpl">
    <thead>
      <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>工作年限</th>
        <th>学历</th>
        <th>学校</th>
        <th>专业</th>
        <th>最近就职公司</th>
        <th>最近职位</th>
        <th>投递时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td>
          <!-- [queryParams]="params" -->
          <a [routerLink]="['/fullscreen/resume/view', data.resume.id]" [queryParams]="params" target="_blank" class="text-nowrap">{{ data.resume.name }}</a>
        </td>
        <td>{{ data.resume.sex }}</td>
        <td>{{ data.resume.age }}</td>
        <td>{{ data.resume.work_date }}</td>
        <td>{{ data.resume.edu?.level }}</td>
        <td>{{ data.resume.edu.name }}</td>
        <td>{{ data.resume.edu.major }}</td>
        <td>
          <ng-container *ngIf="data.resume.work && data.resume.work.length !== 0; else notWorkTpl">
            {{ data.resume.work[0].name }}
          </ng-container>
          <ng-template #notWorkTpl>无经验</ng-template>
        </td>
        <td>
          <ng-container *ngIf="data.resume.work && data.resume.work.length !== 0">
            {{ data.resume.work[0].position_name }}
          </ng-container>
        </td>
        <td class="text-nowrap">{{ data.created_at }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>


<ng-template #footerTpl>
  <div class="text-666 text-md d-flex align-items-center">
    <span class="text-666">总共 <span class="text-primary">{{ pageOption.total }}</span> 份简历</span>
  </div>
</ng-template>