<ng-container *ngIf="!loadingData; else lodingSpin">
  <nz-list [nzFooter]="collectFileAddTpl">
    <nz-list-item *ngFor="let item of listOfData">
      <span nz-typography (click)="navTo(item.id)" class="point">
        <span class="text-666 mr-sm">{{ item.name }}</span>
        <span class="text-666">
          共计 <a class="text-primary text-md"> &nbsp;{{ item.resume_sum }} &nbsp;</a> 份简历
        </span>
      </span>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <span class="text-grey mr-md"><i nz-icon nzType="clock-circle" nzTheme="outline"></i> 更新于 {{ item.updated_at }}</span>
          <ng-container *ngIf="!item.default">
            <a (click)="editCollectFileName(item)" nz-tooltip nzTooltipTitle="更新收藏夹名称"><i nz-icon
                nzType="edit" nzTheme="outline"></i></a>
            <i class="text-danger ml-md" (nzOnConfirm)="deleted(item.id)" (nzOnCancel)="cancel()" nz-popconfirm nzPopconfirmTitle="是否确认删除当前简历收藏夹" nzOkText="删 除" nzCancelText="取 消" nz-icon nzType="delete" nzTheme="outline" nz-tooltip
              nzTooltipTitle="删除"></i>
          </ng-container>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
  </nz-list>
</ng-container>
<ng-template #collectFileAddTpl>
    <div class="text-primary point d-flex align-items-center justify-content-center" (click)="addCollectFile()"><i class="text-lg mr-sm" nz-icon nzType="plus-circle" nzTheme="outline"></i>新增文件夹</div>
    <!-- <button nz-button nzBlock nzType="default" (click)="addCollectFile()" nzSize="large" style="border: 0;">
      <span class="text-primary"><i class="mr-sm" nz-icon nzType="plus-circle" nzTheme="outline"></i>新增文件夹</span>
  </button> -->
</ng-template>

<ng-template #lodingSpin>
  <div class="text-center py-lg">
    <nz-spin nzSimple></nz-spin>
  </div>
</ng-template>