<ng-container *ngIf="!loadingData; else lodingSpin">
  <nz-list nzBordered [nzFooter]="collectFileAddTpl">
    <nz-list-item *ngFor="let item of listOfData">
      <span nz-typography>
        <span class="text-666 mr-sm">{{ item.name }}</span>
        <span class="text-666">
          共计 <a (click)="navTo(item.id)" class="text-primary">{{ item.resume_sum }}</a> 份简历
        </span>
      </span>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <span class="text-grey mr-md"><i nz-icon nzType="clock-circle" nzTheme="outline"></i> 更新于 {{ item.updated_at }}</span>
          <ng-container *ngIf="!item.default">
            <a (click)="editCollectFileName(item)" nz-tooltip nzTooltipTitle="更新收藏夹名称"><i nz-icon
                nzType="edit" nzTheme="outline"></i></a>
            <i class="text-danger ml-md" (nzOnConfirm)="deleted(item.id)" (nzOnCancel)="cancel()" nz-popconfirm nzPopconfirmTitle="是否确认删除当前简历收藏夹" nzOkText="删除" nzCancelText="取消" nz-icon nzType="delete" nzTheme="outline" nz-tooltip
              nzTooltipTitle="删除"></i>
          </ng-container>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
  </nz-list>
</ng-container>
<ng-template #collectFileAddTpl>
  <button nz-button nzType="dashed" nzBlock (click)="addCollectFile()"><i nz-icon nzType="plus" nzTheme="outline"></i>
    新建收藏夹</button>
</ng-template>

<ng-template #lodingSpin>
  <div class="text-center py-lg">
    <nz-spin nzSimple></nz-spin>
  </div>
</ng-template>