footer {
    padding: 17px 0px 20px;

    .footer-content {
        li {
            padding: 0 19px;
            margin-right: 88px;
            &>div {
                line-height: 36px;
            }
        }
    }
    .company_name__ {
        color: #7F8C9A;
    }
}