<footer class="bg-primary Noprint">
    <div class="body__content_box">
        <ul class="footer-content clearfix">
            <li class="float-left">
                <div class="footer-category-title text-white text-lg">关于我们</div>
                <div class="footer-category-list text-md"><a [routerLink]="['/about/us']" class="text-white">了解我们</a>
                </div>
                <!-- <div class="footer-category-list text-md"><a [routerLink]="['/about/link']" class="text-white">联系我们</a></div> -->
                <div class="footer-category-list text-md">
                    <span class="text-white">联系我们：<span class="text-white">400-061-6661</span></span>
                </div>
            </li>

            <li class="float-left">
                <div class="footer-category-title text-white text-lg">用户帮助</div>
                <div class="footer-category-list text-md"><a [routerLink]="['/about/privacy']"
                        class="text-white">隐私政策</a></div>
                <div class="footer-category-list text-md"><a [routerLink]="['/about/agreement']"
                        class="text-white">用户服务协议</a></div>
            </li>
        </ul>

        <div class="company_name__ text-center text-white text-sm mt-lg">成都天府新区人力资源开发服务有限公司 版权所有 ©2017 蜀ICP备17008467号-1
        </div>
    </div>
</footer>