::ng-deep {

    .ant-input-group .ant-input {
        width: 615px;
        padding: 9.8px 11px;
    }
    .ant-input-group-addon {
        
        &:first-child {
            width: 110px;
            overflow: hidden;
            
        }
        &:last-child {
            padding: 0;
            width: 275px;
            overflow: hidden;
            .after-select {
                width: 120px;
                overflow: hidden;
                margin: 0;
                padding: 0 11px;
            }
            .search-btn {
                width: 160px;
                height: 44px;
                overflow: hidden;
            }
        }

    }
}