<div nz-row nzGutter="24">
    <div nz-col nzSpan="4">
        <nz-anchor>
            <nz-link nzHref="#user-info-basic" [nzTitle]="basicInfo">
                <ng-template #basicInfo>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">个人信息</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-self-comment" [nzTitle]="selfComment">
                <ng-template #selfComment>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">自我评价</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-job-intension" [nzTitle]="intensionInfo">
                <ng-template #intensionInfo>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">求职意向</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-work-exp" [nzTitle]="workExpInfo">
                <ng-template #workExpInfo>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">工作经历</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-internship" [nzTitle]="internshipTpl">
                <ng-template #internshipTpl>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">实习经历</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-project-exp" [nzTitle]="projectExpTpl">
                <ng-template #projectExpTpl>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">项目经历</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-edu-exp" [nzTitle]="eduExpInfo">
                <ng-template #eduExpInfo>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">教育经历</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-train-exp" [nzTitle]="trainExpTpl">
                <ng-template #trainExpTpl>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">培训经历</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-certificates" [nzTitle]="certificatesTpl">
                <ng-template #certificatesTpl>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">证书</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-language" [nzTitle]="languageTpl">
                <ng-template #languageTpl>
                    <span class="text-green text-md"><i nz-icon nzType="check-circle" nzTheme="outline"></i></span>
                    <span class="text-md ml-xs">其他语言能力</span>
                </ng-template>
            </nz-link>
            <nz-link nzHref="#user-interest" [nzTitle]="interestInfo">
                <ng-template #interestInfo>
                    <span class="text-danger text-md">
                        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    </span>
                    <span class="text-md ml-xs">兴趣爱好</span>
                </ng-template>
            </nz-link>
        </nz-anchor>
    </div>
    
    <div nz-col nzSpan="18">
        <div class="mb-md" id="user-info-basic">
            <app-user-info-tpl></app-user-info-tpl>
            <!-- 个人信息 -->
        </div>
        
        <div class="mb-md" id="user-self-comment">
            <app-user-self-comment-tpl></app-user-self-comment-tpl>
            <!-- 自我评价 -->
        </div>

        <div class="mb-md" id="user-job-intension">
            <app-user-intension-tpl></app-user-intension-tpl>
            <!-- 求职意向 -->
        </div>

        <div class="mb-md" id="user-work-exp">
            <app-user-work-exp-tpl></app-user-work-exp-tpl>
            <!-- 工作经历 -->
        </div>

        <div class="mb-md" id="user-internship">
            <app-user-internship-exp-tpl></app-user-internship-exp-tpl>
            <!-- 实习经历 -->
        </div>

        <div class="mb-md" id="user-project-exp">
            <app-user-project-exp-tpl></app-user-project-exp-tpl>
            <!-- 项目经历 -->
        </div>

        <div class="mb-md" id="user-edu-exp">
            <app-user-education-exp-tpl></app-user-education-exp-tpl>
            <!-- 教育经历 -->
        </div>
        
        <div class="mb-md" id="user-train-exp">
            <app-user-train-exp-tpl></app-user-train-exp-tpl>
            <!-- 培训经历 -->
        </div>

        <div class="mb-md" id="user-certificates">
            <app-user-certificate-tpl></app-user-certificate-tpl>
            <!-- 证书信息 -->
        </div>

        <div class="mb-md" id="user-language">
            <app-user-language-tpl></app-user-language-tpl>
            <!-- 其它语言能力 -->
        </div>

        <div class="mb-md" id="user-interest">
            <app-user-self-interest-tpl></app-user-self-interest-tpl>
            <!-- 兴趣爱好 -->
        </div>

    </div>
</div>
