@import './../../../../styles/base-color.less';

.alain-default__header {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    border-bottom: 1px solid #F0F0F0;

    .alain-default__header-logo {
        // padding-top: 10px;

        .alain-default__header-logo-link {
            display: block;
            text-align: center;
            width: 130px;
            height: 55px;

        }
    }

    .flex-reverse {
        flex-direction: row-reverse;
    }

    .alain-default__nav-wrap {
        display: flex;
        flex: 1;
        justify-content: space-between;
        height: 79px;

        .alain-default__nav {
            height: 79px;
            padding-left: 68px;

            li {
                height: 80px;
                box-sizing: border-box;

                .nav__title_box {
                    // display: flex;
                    // // align-items: center;
                    // justify-content: center;
                    height: 76px;
                    // padding-top: 45px;
                    // line-height: 76px;

                    .default__nav_icon {
                        display: block;
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        background-repeat: no-repeat;
                        background-position: left top;
                        background-size: 100% 100%;
                        border-radius: 50%;
                    }

                    .nav__icon1 {
                        width: 33px;
                        background-image: url('/assets/imgs/icon/icon_recruit.png')
                    }

                    .nav__icon2 {
                        background-image: url('/assets/imgs/icon/icon_exam.png')
                    }
                }
            }
        }

        .header_affix_search_box {
            line-height: 79px;
            padding: 0 20px;

            .header_search_body {
                padding-top: 18px;
            }
        }
    }



}

:host ::ng-deep {
    .ant-menu-horizontal {
        border-bottom: 0;

        &>.ant-menu-item,
        &>.ant-menu-submenu,
        &>.ant-menu-item:hover,
        &>.ant-menu-submenu:hover,
        &>.ant-menu-item-active,
        &>.ant-menu-submenu-active,
        &>.ant-menu-item-open,
        &>.ant-menu-submenu-open,
        &>.ant-menu-item-selected,
        &>.ant-menu-submenu-selected {
            // height: 100%;
            border-bottom-width: 4px !important;
        }
    }

    .header_search_body {
        .ant-input-group .ant-input {
            width: auto;
            max-width: 300px;
        }

    }

}

// 导航模态框样式
::ng-deep {
    .nav_modal_wrapper>.ant-modal-content {
        background: rgba(255, 255, 255, 0.9)
    }

    .header_affix_search_box {
        .ant-input-group-addon:last-child {
            width: auto;
        }

        .ant-input-group-addon:last-child .after-select,
        .ant-input-group-addon:last-child .search-btn {
            width: 80px;
        }
    }
}