<div class="alain-default__header bg-white Noprint">
    <div class="body__content_box d-flex align-items-center">

        <div class="alain-default__header-logo">
            <a [routerLink]="['/']" class="alain-default__header-logo-link">
                <img src="./assets/imgs/logo_full_color.png" />
            </a>
        </div>
        <div class="alain-default__nav-wrap" [class.flex-reverse]="!isMenu">
            <ul nz-menu nzMode="horizontal" class="alain-default__nav flex-1" *ngIf="isMenu">
                <li nz-menu-item [nzMatchRouter]="true" *ngIf="isEntranceModal">
                    <a [routerLink]="['/recruit']"
                        class="nav__title_box d-flex align-items-center justify-content-center text-lg" title="前往招聘站点">
                        <span class="default__nav_icon nav__icon1 mr-sm"></span>
                        企业招聘
                    </a>
                </li>
                <li nz-menu-item [nzMatchRouter]="true">
                    <a [routerLink]="['/entrance']"
                        class="nav__title_box d-flex align-items-center justify-content-center text-lg" title="前往招考站点">
                        <span class="default__nav_icon nav__icon2 mr-sm"></span>
                        编外人员招聘
                    </a>
                </li>
            </ul>

            <div class="header_affix_search_box" *ngIf="sourceTarget === 'recruit' && !isEntranceModal">
                <div class="header_search_body d-flex align-items-center" *ngIf="searchBoxVisible">
                    <app-layout-full-search (searchOptionChange)="searchOptionChange($event)"></app-layout-full-search>
                </div>
            </div>
            <ul class="d-flex header_user_info_wrapper align-items-center">
                <li>
                    <app-header-user></app-header-user>
                </li>
                <li *ngIf="!searchBoxVisible">
                    <app-wechat-office-account></app-wechat-office-account>
                </li>
            </ul>
        </div>
    </div>
</div>