<div class="body__content_box">
    <div class="company-admin__layout_body">
        <div class="sidebar_body bg-white float-left">
            <app-company-sidebar></app-company-sidebar>
        </div>
        <div class="company-admin_content_body float-right">
            <div class="company-admin_content_top_wrapper border-radius-sm bg-white">
                <app-company-content-top></app-company-content-top>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>