<div class="sidebar__wrapper">
    <div class="sidebar_top_wrap">
        <div class="logo_box border-radius-half bg-grey-dark d-flex justify-content-center align-items-center">
            <div class="user_logo_icon text-white"><i nz-icon nzType="user" nzTheme="outline"></i></div>
            <!-- <img src="./assets/imgs/test/img_adv1.png" alt="用户姓名"> -->
        </div>
        <div class="my-sm refer-info_box text-center">
            <span class="text-danger mr-sm"><i nz-icon nzType="warning" nzTheme="outline"></i></span>
            <span class="text-grey text-xs">条信息需要完善</span>
        </div>
    </div>

    <div class="sidebar__menu_wraper">
        <ul nz-menu nzMode="inline">
            <li nz-submenu nzTitle="个人中心" nzOpen>
                <ul>
                    <!-- 用户完成实名认证 和 填写简历 之前，只显示  实名认证菜单 -->
                    <li routerLinkActive="ant-menu-item-selected" nz-menu-item *ngIf="userDataService.userProfile?.status === 1 && userDataService.userProfile?.complete === 1">
                        <a [routerLink]="['/admin/user/home']">个人主页</a>
                    </li>
                    <li routerLinkActive="ant-menu-item-selected" nz-menu-item>
                        <a [routerLink]="['/admin/user/certification']">实名认证 <span *ngIf="userDataService.userProfile?.status === 0" class="text-danger"> <i class="m0" nz-icon nzType="warning" nzTheme="fill"></i><span class="text-xs">待完善</span></span></a>
                    </li>
                    <li routerLinkActive="ant-menu-item-selected" nz-menu-item *ngIf="userDataService.userProfile?.status === 1">
                        <a [routerLink]="['/admin/user/bind']">账号绑定</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="简历管理" nzOpen *ngIf="userDataService.userProfile?.status === 1">
                <ul>
                    <li routerLinkActive="ant-menu-item-selected" nz-menu-item>
                        <a [routerLink]="['/admin/user/resumes']">我的简历 <span *ngIf="userDataService.userProfile?.complete === 0" class="text-danger"> <i class="m0" nz-icon nzType="warning" nzTheme="fill"></i><span class="text-xs">待完善</span></span></a>
                    </li>
                    <li routerLinkActive="ant-menu-item-selected" nz-menu-item *ngIf="userDataService.userProfile?.status === 1 && userDataService.userProfile?.complete === 1">
                        <a [routerLink]="['/admin/user/delivery']">投递记录</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>